dev-workflow.json
{
  "name": "Keloola Accounting Test Workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -8432,
        1680
      ],
      "id": "a89c637f-51b6-4894-8a70-b3d574bde424",
      "name": "Get current user",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "organization"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -8208,
        1680
      ],
      "id": "f29bc730-6195-4035-b9c9-d67e865adc02",
      "name": "Get user organizations",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7984,
        336
      ],
      "id": "df98594b-f90b-4668-865d-dacad3de0333",
      "name": "Get All Units",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit",
        "operation": "create",
        "name": "n8n-unit"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7760,
        336
      ],
      "id": "0af09b51-a222-462a-9a4a-5b3d0a77b30f",
      "name": "Create Unit",
      "alwaysOutputData": false,
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit",
        "operation": "get",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7536,
        336
      ],
      "id": "655e806e-600c-429a-b3dd-f8fb5f6b1ac9",
      "name": "Get Created Unit",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit",
        "operation": "update",
        "id": "={{ $json.data.id }}",
        "name": "=update-{{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7312,
        336
      ],
      "id": "ec555934-4ba7-43f5-811a-4e5de41685b6",
      "name": "Update Unit",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit",
        "operation": "delete",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7088,
        336
      ],
      "id": "cd379bf5-6564-4e81-b41e-826309e2cd56",
      "name": "Delete Unit",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chartOfAccount",
        "search": "={{ $('Edit Fields').item.json.coa_name }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7312,
        720
      ],
      "id": "7e1b2967-8b7d-48a0-b6fa-312bc516665c",
      "name": "Get All COA",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chartOfAccount",
        "operation": "getTypes"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7984,
        720
      ],
      "id": "8e810983-21b8-4b3d-9dfe-8272774a9bc0",
      "name": "Get COA Types",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chartOfAccount",
        "operation": "create",
        "name": "={{ $json.coa_name }}",
        "code": "={{ Math.floor(Math.random() * 900000) + 100000 }}",
        "type": "={{ $('Get COA Types').item.json.data[0].id }}",
        "description": "Test COA from n8n"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7536,
        720
      ],
      "id": "40c37245-c137-4e4f-8e77-7536d2bf0371",
      "name": "Create COA",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chartOfAccount",
        "operation": "get",
        "id": "={{ $json.data.result[0].id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7088,
        528
      ],
      "id": "dca6b2e9-53e9-4636-a3f6-380098b12b8e",
      "name": "Get Created COA",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chartOfAccount",
        "operation": "update",
        "id": "={{ $json.data.id }}",
        "name": "=updated-{{ $json.data.name }}",
        "code": "={{ $json.data.code }}",
        "type": "={{ $json.data.type.id }}",
        "account": "={{ $json.data.parent_account?.id || '' }}",
        "description": "Updated from n8n"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -6864,
        528
      ],
      "id": "0a5b69ef-a82d-4d80-b105-01d076a80793",
      "name": "Update COA",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chartOfAccount",
        "operation": "delete",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -6640,
        528
      ],
      "id": "359a6d5e-a0ab-4700-8246-f313986d0203",
      "name": "Delete COA",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "tax"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -6864,
        720
      ],
      "id": "91f49ca9-78fc-42df-82fa-042d29cf8204",
      "name": "Get All Tax",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "tax",
        "operation": "create",
        "name": "n8n-test-tax",
        "rate": 10,
        "saleAccount": "={{ $('Get All COA').item.json.data.result[0].id }}",
        "purchaseAccount": "={{ $('Get All COA').item.json.data.result[0].id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7088,
        720
      ],
      "id": "a41bfe50-9a88-406c-8662-09479c35310d",
      "name": "Create Tax",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "tax",
        "operation": "get",
        "id": "={{ $json.data.result[0].id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -6640,
        720
      ],
      "id": "5bd8e72b-33da-4e08-857e-c4861540a7b0",
      "name": "Get Created Tax",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "tax",
        "operation": "update",
        "id": "={{ $json.data.id }}",
        "name": "=updated-{{ $json.data.name }}",
        "rate": 15,
        "saleAccount": "={{ $json.data.sale_account.id }}",
        "purchaseAccount": "={{ $json.data.purchase_account.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -6416,
        720
      ],
      "id": "68eec03a-b6a9-413d-bc6b-39205f07ccac",
      "name": "Update Tax",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "tax",
        "operation": "delete",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -6192,
        720
      ],
      "id": "efa3c5e7-ee64-48c7-a58e-175b21fec980",
      "name": "Delete Tax",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7984,
        1296
      ],
      "id": "93d4bb4a-bdab-4c43-9685-adff19773d24",
      "name": "Get All Categories",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7536,
        1296
      ],
      "id": "193e97e7-5ba8-476b-903f-c996159e2025",
      "name": "Get All Units For Product",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product",
        "search": "={{ $('Edit Fields2').item.json.sku }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -6416,
        1296
      ],
      "id": "957d9131-9d6a-46d6-a45d-15821e08a0e4",
      "name": "Get All Products",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "create",
        "name": "=n8n-product-{{ Math.floor(Math.random() * 100000) }}",
        "sku": "={{ $json.sku }}",
        "category_id": "={{ $('Create Test Category').item.json.data.id }}",
        "unit_id": "={{ $('Create Test Unit').item.json.data.id }}",
        "sale_price": 1000,
        "purchase_price": 500,
        "purchase_account": "={{ $('Get All COA For Product').item.json.data.result[0].id }}",
        "sale_account": "={{ $('Get All COA For Product').item.json.data.result[0].id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -6640,
        1296
      ],
      "id": "6e57da79-ab70-43b1-9867-0416c75eb152",
      "name": "Create Product",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "get",
        "id": "={{ $json.data.result[0].id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -6192,
        1296
      ],
      "id": "a3f1ab68-ca70-4f40-a919-025d26c8278a",
      "name": "Get Created Product",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "update",
        "id": "={{ $json.data.id }}",
        "name": "=updated-{{ $json.data.name }}",
        "sku": "={{ $json.data.sku }}",
        "category_id": "={{ $json.data.category.id }}",
        "unit_id": "={{ $json.data.unit.id }}",
        "description": "={{ $json.data.description }}",
        "sale_price": "={{ $json.data.sale_price.number }}",
        "purchase_price": "={{ $json.data.purchase_price.number }}",
        "purchase_account": "={{ $json.data.purchase_account?.id || $('Get All COA').item.json.data.result[0].id }}",
        "sale_account": "={{ $json.data.purchase_account?.id || $('Get All COA').item.json.data.result[0].id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -5968,
        1296
      ],
      "id": "95199535-f828-4552-a409-d895e11440b7",
      "name": "Update Product",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "delete",
        "id": "={{ $('Get Created Product').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -5744,
        1296
      ],
      "id": "9685d8d9-01ac-41e5-b518-ad17bf773cc5",
      "name": "Delete Product",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category",
        "operation": "create",
        "name": "=n8n-cat-{{Math.floor(Math.random() * 1000)}}",
        "color": "#ff0000"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7760,
        1296
      ],
      "id": "79dfd825-851c-4e52-a5f9-769616155c17",
      "name": "Create Test Category",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit",
        "operation": "create",
        "name": "=U-{{Math.floor(Math.random() * 1000)}}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7312,
        1296
      ],
      "id": "0a876d2c-9f30-4cd4-9adc-6ce62a82c99a",
      "name": "Create Test Unit",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chartOfAccount"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7088,
        1296
      ],
      "id": "16f1b6c7-9a6e-443c-93f3-9a77e425065b",
      "name": "Get All COA For Product",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "journal",
        "per_page": 10
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -6864,
        912
      ],
      "id": "4706c2ca-79a0-48fe-b1b4-7f830f9dd6e2",
      "name": "Get All Journals",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "journal",
        "operation": "create",
        "transaction_number": "=TRX-{{ Math.floor(Math.random() * 100000) }}",
        "date": "={{ new Date().toISOString() }}",
        "reference": "=REF-{{ Math.floor(Math.random() * 1000) }}",
        "force_posting": true,
        "description": "Journal Entry from n8n",
        "details": {
          "detail_item": [
            {
              "account_id": "={{ $('Get All COA').item.json.data.result.last().id }}",
              "description": "Debit Entry",
              "debit": 1000
            },
            {
              "account_id": "={{ $('Get All COA').item.json.data.result.last().id }}",
              "description": "Credit Entry",
              "credit": 1000
            }
          ]
        }
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -6640,
        912
      ],
      "id": "63fe3502-826b-4bcd-98a6-0e5b03fc28ff",
      "name": "Create Journal",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "journal",
        "operation": "get",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -6416,
        912
      ],
      "id": "4dfc7535-f4b9-4e74-9b03-6e578fad57c2",
      "name": "Get Created Journal",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "journal",
        "operation": "update",
        "id": "={{ $json.data.id }}",
        "transaction_number": "={{ $json.data.transaction_number }}",
        "date": "={{ $json.data.date }}",
        "force_posting": true,
        "description": "Updated Journal Description",
        "details": {
          "detail_item": [
            {
              "account_id": "={{ $json.data.details[0].account.id }}",
              "description": "Updated Debit Entry",
              "debit": 1500
            },
            {
              "account_id": "={{ $json.data.details[1].account.id }}",
              "description": "Updated Credit Entry",
              "credit": 1500
            }
          ]
        }
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -6192,
        912
      ],
      "id": "7969c1fe-0e26-4975-8d05-bf868e93d036",
      "name": "Update Journal",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "journal",
        "operation": "delete",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -5968,
        912
      ],
      "id": "6c513487-ccd9-4879-b733-5bd7010214d7",
      "name": "Delete Journal",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "exchange"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7088,
        912
      ],
      "id": "84e3edab-3419-4f0d-ac80-aee22cae67c9",
      "name": "Get All Currencies",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3f7e2eee-1d45-4e51-a0f8-835b1fc97b40",
              "name": "coa_name",
              "value": "=n8n-test-coa-{{ Math.floor(Math.random() * 100000) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -7760,
        720
      ],
      "id": "1cf5c4c9-b051-4856-9393-990c0c0a7faa",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -8656,
        1680
      ],
      "id": "baa1e451-d5a0-40cc-9982-127ec11ed3b6",
      "name": "Manual"
    },
    {
      "parameters": {
        "resource": "purchaseQuote",
        "operation": "create",
        "transaction_date": "={{ $now.toISO().split(\"T\")[0] }}",
        "expiry_date": "={{ $now.plus(30, 'days').toISO().split(\"T\")[0] }}",
        "vendor": "={{ $('Create a contact').item.json.data.id }}",
        "products": {
          "item": [
            {
              "price": 100,
              "product_id": "={{ $json.data.result[0].id }}",
              "tax_id": "={{ \"\" }}",
              "unit_id": "={{ $('Create Test Unit1').item.json.data.id }}"
            }
          ]
        },
        "additionalFields": {}
      },
      "name": "Create Purchase Quote",
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -5744,
        1104
      ],
      "id": "93e64ae2-e26b-4b94-a277-55de399e1abf",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "purchaseQuote",
        "operation": "get",
        "id": "={{ $json.data.id }}"
      },
      "name": "Get Created Purchase Quote",
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -5520,
        1104
      ],
      "id": "e853d61e-f366-4184-9052-8571c2bfc1ee",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "purchaseQuote",
        "operation": "update",
        "id": "={{ $json.data.id }}",
        "transaction_date": "={{ new Date().toISOString().split(\"T\")[0] }}",
        "expiry_date": "={{ $now.plus(30, 'days').toISO().split(\"T\")[0] }}",
        "vendor": "={{ $json.data.contact.id }}",
        "products": {
          "item": [
            {
              "price": 100,
              "product_id": "={{ $json.data.purchase_items[0].product_id }}",
              "qty": 2,
              "tax_id": "={{ \"\" }}",
              "unit_id": "={{ $('Create Test Unit1').item.json.data.id }}"
            }
          ]
        },
        "additionalFields": {}
      },
      "name": "Update Purchase Quote",
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -5296,
        1104
      ],
      "id": "52bda58d-768f-45de-a062-ded3f60b73a8",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "purchaseQuote",
        "operation": "delete",
        "id": "={{ $('Update Purchase Quote').item.json.data.id }}"
      },
      "name": "Delete Purchase Quote",
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -4848,
        1104
      ],
      "id": "061e2d0e-f102-4456-88c4-b65032a44a5e",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7760,
        1104
      ],
      "id": "fd4f8eae-1077-45ea-b716-c0ac839fc6b8",
      "name": "Get All Products1",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "create",
        "contact_type": "vendor",
        "name": "N8N Vendor",
        "email": "n8n.vendor@keloola.com",
        "additionalFields": {}
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7984,
        1104
      ],
      "id": "a9f83d33-ed47-4114-acf0-3f965921b6cf",
      "name": "Create a contact",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7536,
        1104
      ],
      "id": "d95a0ec0-183e-4b7b-be6e-8d7db086a497",
      "name": "Get All Categories1",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7088,
        1104
      ],
      "id": "c12cdceb-f8c7-4159-b226-83cf8f4d16ef",
      "name": "Get All Units For Product1",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product",
        "search": "={{ $('Edit Fields1').item.json.sku }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -5968,
        1104
      ],
      "id": "ad9d6f7c-4c8e-4f8c-bf94-a833c5a5f462",
      "name": "Get All Products2",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "create",
        "name": "=n8n-product-{{ Math.floor(Math.random() * 100000) }}",
        "sku": "={{ $json.sku }}",
        "category_id": "={{ $('Create Test Category1').item.json.data.id }}",
        "unit_id": "={{ $('Create Test Unit1').item.json.data.id }}",
        "sale_price": 1000,
        "purchase_price": 500,
        "purchase_account": "={{ $('Get All COA For Product1').item.json.data.result[0].id }}",
        "sale_account": "={{ $('Get All COA For Product1').item.json.data.result[0].id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -6192,
        1104
      ],
      "id": "2145b9a3-a76d-43c5-9bb8-bd4a75b2d34f",
      "name": "Create Product1",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category",
        "operation": "create",
        "name": "=n8n-cat-{{Math.floor(Math.random() * 1000)}}",
        "color": "#ff0000"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7312,
        1104
      ],
      "id": "3120f9e2-5095-4e4c-8063-3f96e81059c6",
      "name": "Create Test Category1",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit",
        "operation": "create",
        "name": "=U-{{Math.floor(Math.random() * 1000)}}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -6864,
        1104
      ],
      "id": "5505edfb-846c-4f10-b393-cf2a516e2aba",
      "name": "Create Test Unit1",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chartOfAccount"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -6640,
        1104
      ],
      "id": "0c6f7466-4493-4dca-aff0-f378537644b0",
      "name": "Get All COA For Product1",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "purchaseQuote",
        "operation": "print",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -5072,
        1104
      ],
      "id": "92467107-cb8c-44e5-8f22-c6ed0b1ae9ac",
      "name": "Print purchase quote",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "delete",
        "id": "={{ $('Get All Products2').item.json.data.result[0].id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -4624,
        1104
      ],
      "id": "fe082eec-3fe6-40a7-848e-2d97fb291947",
      "name": "Delete a product",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit",
        "operation": "delete",
        "id": "={{ $('Create Test Unit1').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -4400,
        1104
      ],
      "id": "e02e03e6-2f2a-49c4-bf48-8f545dadeac0",
      "name": "Delete a unit",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category",
        "operation": "delete",
        "id": "={{ $('Create Test Category1').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -4176,
        1104
      ],
      "id": "fb50ed25-6de4-4ed3-860d-0142b7d43a4b",
      "name": "Delete a category",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "delete",
        "contact_type": "vendor",
        "id": "={{ $('Create a contact').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -3952,
        1104
      ],
      "id": "066eb643-e7f9-47d3-9341-e7aeb1f4732c",
      "name": "Delete a contact",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7760,
        1488
      ],
      "id": "f420c168-6490-45a0-a328-9c1540fb6821",
      "name": "Get All Products3",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "create",
        "contact_type": "vendor",
        "name": "N8N Vendor",
        "email": "n8n.vendor@keloola.com",
        "additionalFields": {}
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7984,
        1488
      ],
      "id": "48b553f7-82ba-4165-a059-9c6569f7d47e",
      "name": "Create a contact1",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7536,
        1488
      ],
      "id": "46b08f28-3e4f-420a-b9f8-e5913f8d9551",
      "name": "Get All Categories2",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7088,
        1488
      ],
      "id": "77b4d05d-6519-4392-af72-c0516ebb2c4c",
      "name": "Get All Units For Product2",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product",
        "search": "={{ $('Edit Fields3').item.json.sku }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -5968,
        1488
      ],
      "id": "8e507eea-388e-4c61-97f9-404f970d6d98",
      "name": "Get All Products4",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "create",
        "name": "=n8n-product-{{ Math.floor(Math.random() * 100000) }}",
        "sku": "={{ $json.sku }}",
        "category_id": "={{ $('Create Test Category2').item.json.data.id }}",
        "unit_id": "={{ $('Create Test Unit2').item.json.data.id }}",
        "sale_price": 1000,
        "purchase_price": 500,
        "purchase_account": "={{ $('Get All COA For Product2').item.json.data.result[0].id }}",
        "sale_account": "={{ $('Get All COA For Product2').item.json.data.result[0].id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -6192,
        1488
      ],
      "id": "9733cd91-4113-4669-890f-2e1b78c00cbb",
      "name": "Create Product2",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category",
        "operation": "create",
        "name": "=n8n-cat-{{Math.floor(Math.random() * 1000)}}",
        "color": "#ff0000"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7312,
        1488
      ],
      "id": "65224f45-6d51-4c10-acd0-6fe745e7c68d",
      "name": "Create Test Category2",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit",
        "operation": "create",
        "name": "=U-{{Math.floor(Math.random() * 1000)}}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -6864,
        1488
      ],
      "id": "65055823-ba83-488c-b175-df3c8ce32929",
      "name": "Create Test Unit2",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chartOfAccount"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -6640,
        1488
      ],
      "id": "9b82707d-ec7a-4157-9478-8e3a907783c6",
      "name": "Get All COA For Product2",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "purchaseOrder",
        "operation": "print",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -5072,
        1488
      ],
      "id": "14b0d35e-8338-4325-98ad-915ebedc9c96",
      "name": "Print purchase order",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "purchaseOrder",
        "operation": "create",
        "transaction_date": "={{ $now.toISO().split(\"T\")[0] }}",
        "expiry_date": "={{ $now.plus(30, 'days').toISO().split(\"T\")[0] }}",
        "vendor": "={{ $('Create a contact1').item.json.data.id }}",
        "products": {
          "item": [
            {
              "price": 500,
              "product_id": "={{ $json.data.result[0].id }}",
              "unit_id": "={{ $('Create Test Unit2').item.json.data.id }}"
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -5744,
        1488
      ],
      "id": "8b187c60-f572-4a45-a30b-47dcbe6da8cd",
      "name": "Create a purchase order",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "purchaseOrder",
        "operation": "get",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -5520,
        1488
      ],
      "id": "98449fdc-5503-40e6-b6d1-cdd467b444ee",
      "name": "Get a purchase order",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "purchaseOrder",
        "operation": "update",
        "id": "={{ $json.data.id }}",
        "transaction_date": "={{ $now.toISO().split(\"T\")[0] }}",
        "expiry_date": "={{ $now.plus(30, 'days').toISO().split(\"T\")[0] }}",
        "vendor": "={{ $('Create a contact1').item.json.data.id }}",
        "products": {
          "item": [
            {
              "product_id": "={{ $('Get All Products4').item.json.data.result[0].id }}",
              "unit_id": "={{ $('Get All Products4').item.json.data.result[0].unit.id }}"
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -5296,
        1488
      ],
      "id": "024153f8-a9cb-4ca1-b448-e27e106b6c82",
      "name": "Update a purchase order",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "purchaseOrder",
        "operation": "delete",
        "id": "={{ $('Update a purchase order').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -4848,
        1488
      ],
      "id": "2a67576c-f978-4ebb-9e78-8d05b0a68c0e",
      "name": "Delete a purchase order",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b3808df-fbec-42f9-8188-6219acb4363a",
              "name": "sku",
              "value": "=SKU-{{ Math.floor(Math.random() * 100000) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6416,
        1104
      ],
      "id": "a576d8b4-a174-4370-bf34-0063a97aebfb",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b3808df-fbec-42f9-8188-6219acb4363a",
              "name": "sku",
              "value": "=SKU-{{ Math.floor(Math.random() * 100000) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6864,
        1296
      ],
      "id": "76ded9bc-9580-4ed3-bf00-7c1712acdf45",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b3808df-fbec-42f9-8188-6219acb4363a",
              "name": "sku",
              "value": "=SKU-{{ Math.floor(Math.random() * 100000) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6416,
        1488
      ],
      "id": "cb875894-f7f4-4912-a3fe-c58f1f0d4ff1",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "delete",
        "id": "={{ $('Get All Products4').item.json.data.result[0].id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -4624,
        1488
      ],
      "id": "18178eff-9da0-4885-9e09-4101cb8294ab",
      "name": "Delete a product1",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit",
        "operation": "delete",
        "id": "={{ $('Create Test Unit2').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -4400,
        1488
      ],
      "id": "ea08b322-8efe-4430-befa-4dcaffe1c967",
      "name": "Delete a unit1",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category",
        "operation": "delete",
        "id": "={{ $('Create Test Category2').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -4176,
        1488
      ],
      "id": "3e06ec17-cffe-4283-8478-dcd24dd0177c",
      "name": "Delete a category1",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "delete",
        "contact_type": "vendor",
        "id": "={{ $('Create a contact1').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -3952,
        1488
      ],
      "id": "ee2488a0-c5d6-4c19-9d0a-d466773cb8c7",
      "name": "Delete a contact1",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "create",
        "contact_type": "vendor",
        "name": "N8N Vendor",
        "email": "n8n.vendor@keloola.com",
        "additionalFields": {}
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7984,
        1680
      ],
      "id": "6f160b83-6c2c-4657-b005-3c7e39f8a48f",
      "name": "Create a contact2",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7760,
        1680
      ],
      "id": "f41b71fa-fc8d-48da-ad7d-9f66932ff9c4",
      "name": "Get All Products5",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7536,
        1680
      ],
      "id": "fcbf9809-a8be-4eed-860b-c51f8228ac75",
      "name": "Get All Categories3",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category",
        "operation": "create",
        "name": "=n8n-cat-{{Math.floor(Math.random() * 1000)}}",
        "color": "#ff0000"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7312,
        1680
      ],
      "id": "c627739a-d0ca-4d57-83fa-a77c5150e59e",
      "name": "Create Test Category3",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7088,
        1680
      ],
      "id": "a77a18e3-dbfe-46d7-ad50-b2c9f9752ea9",
      "name": "Get All Units For Product3",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit",
        "operation": "create",
        "name": "=U-{{Math.floor(Math.random() * 1000)}}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -6864,
        1680
      ],
      "id": "3e1cb6f3-ca03-47cc-8056-6e8ff63c1cca",
      "name": "Create Test Unit3",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chartOfAccount"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -6640,
        1680
      ],
      "id": "7c9ffe71-04dd-4874-b647-d1bb136a28de",
      "name": "Get All COA For Product3",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1b2c3d4-0001-0001-0001-00000000000e",
              "name": "sku",
              "value": "=SKU-{{ Math.floor(Math.random() * 100000) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6416,
        1680
      ],
      "id": "987272c4-c538-41f4-b48f-c5747b13a752",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "create",
        "name": "=n8n-product-{{ Math.floor(Math.random() * 100000) }}",
        "sku": "={{ $json.sku }}",
        "category_id": "={{ $('Create Test Category3').item.json.data.id }}",
        "unit_id": "={{ $('Create Test Unit3').item.json.data.id }}",
        "sale_price": 1000,
        "purchase_price": 500,
        "purchase_account": "={{ $('Get All COA For Product3').item.json.data.result[0].id }}",
        "sale_account": "={{ $('Get All COA For Product3').item.json.data.result[0].id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -6192,
        1680
      ],
      "id": "00fa1188-71a1-47a6-bd7f-28b370d8ef25",
      "name": "Create Product3",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product",
        "search": "={{ $('Edit Fields4').item.json.sku }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -5968,
        1680
      ],
      "id": "7d3172cd-f545-4725-9b7e-c25b4df26a3a",
      "name": "Get All Products6",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "purchaseInvoice",
        "operation": "create",
        "transaction_date": "={{ $now.toISO().split(\"T\")[0] }}",
        "expiry_date": "={{ $now.plus(30, \"days\").toISO().split(\"T\")[0] }}",
        "due_date": "={{ $now.plus(30, 'days').toISO().split(\"T\")[0] }}",
        "vendor": "={{ $('Create a contact2').item.json.data.id }}",
        "products": {
          "item": [
            {
              "price": 500,
              "product_id": "={{ $json.data.result[0].id }}",
              "unit_id": "={{ $('Create Test Unit3').item.json.data.id }}"
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -5744,
        1680
      ],
      "id": "320e36f1-cb3a-4c34-837a-afabf154ca28",
      "name": "Create Purchase Invoice",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "purchaseInvoice",
        "operation": "get",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -5520,
        1680
      ],
      "id": "469cf58f-d7fe-49d5-91a6-61018106dda8",
      "name": "Get Purchase Invoice",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "purchaseInvoice",
        "operation": "update",
        "id": "={{ $json.data.id }}",
        "transaction_date": "={{ $now.toISO().split(\"T\")[0] }}",
        "expiry_date": "={{ $now.plus(30, \"days\").toISO().split(\"T\")[0] }}",
        "due_date": "={{ $now.plus(30, 'days').toISO().split(\"T\")[0] }}",
        "vendor": "={{ $('Create a contact2').item.json.data.id }}",
        "products": {
          "item": [
            {
              "product_id": "={{ $('Get All Products6').item.json.data.result[0].id }}",
              "unit_id": "={{ $('Get All Products6').item.json.data.result[0].unit.id }}"
            }
          ]
        },
        "additionalFields": {
          "currency": "",
          "email": ""
        }
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -5296,
        1680
      ],
      "id": "5f6fe457-4961-45a8-95c7-369267cba53e",
      "name": "Update Purchase Invoice",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "purchaseInvoice",
        "operation": "print",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -5072,
        1680
      ],
      "id": "1373cdab-cd5b-49ae-aa4c-c73153dceb5f",
      "name": "Print Purchase Invoice",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "purchaseInvoice",
        "operation": "delete",
        "id": "={{ $('Update Purchase Invoice').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -4848,
        1680
      ],
      "id": "0371ee29-5ba2-46b9-99d7-c4c0a5b5f22f",
      "name": "Delete Purchase Invoice",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "delete",
        "id": "={{ $('Get All Products6').item.json.data.result[0].id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -4624,
        1680
      ],
      "id": "b123833b-aafb-43d1-943d-7cba21b7877e",
      "name": "Delete a product2",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit",
        "operation": "delete",
        "id": "={{ $('Create Test Unit3').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -4400,
        1680
      ],
      "id": "76ff8987-2891-4b44-9322-2ae367b5b596",
      "name": "Delete a unit2",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category",
        "operation": "delete",
        "id": "={{ $('Create Test Category3').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -4176,
        1680
      ],
      "id": "48438f23-6253-47a7-a91f-2d7c3917d0ea",
      "name": "Delete a category2",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "delete",
        "contact_type": "vendor",
        "id": "={{ $('Create a contact2').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -3952,
        1680
      ],
      "id": "067fd775-57f5-4a68-8d37-67ac3f483a50",
      "name": "Delete a contact2",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "create",
        "name": "N8N Customer SQ",
        "email": "n8n.customer.sq@keloola.com",
        "additionalFields": {}
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7984,
        2064
      ],
      "id": "eee28140-2a85-41a9-8fd3-c58292f89366",
      "name": "Create Customer SQ",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7760,
        2064
      ],
      "id": "88cb294d-00f5-44af-a348-c93a7271651d",
      "name": "Get All Products SQ",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7536,
        2064
      ],
      "id": "ae6cdc37-b00b-4dfe-becb-5a0f6bd50021",
      "name": "Get All Categories SQ",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category",
        "operation": "create",
        "name": "=n8n-cat-{{Math.floor(Math.random() * 1000)}}",
        "color": "#00ff00"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7312,
        2064
      ],
      "id": "a18f9c8c-292b-4b70-a66f-48838b5a0dd8",
      "name": "Create Test Category SQ",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7088,
        2064
      ],
      "id": "a7b1ccbb-bf91-4585-9243-1088d4cb2d19",
      "name": "Get All Units SQ",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit",
        "operation": "create",
        "name": "=U-{{Math.floor(Math.random() * 1000)}}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -6864,
        2064
      ],
      "id": "f1fea9e0-0a9d-46bf-83cd-7152d9ef24d9",
      "name": "Create Test Unit SQ",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chartOfAccount"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -6640,
        2064
      ],
      "id": "532f667e-87be-4c7d-b241-fcbaf2f0724e",
      "name": "Get All COA SQ",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1b2c3d4-0002-0001-0001-00000000000e",
              "name": "sku",
              "value": "=SKU-{{ Math.floor(Math.random() * 100000) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6416,
        2064
      ],
      "id": "7ee8b960-429a-4198-bee9-45dcc96a6e99",
      "name": "Edit Fields SQ"
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "create",
        "name": "=n8n-product-{{ Math.floor(Math.random() * 100000) }}",
        "sku": "={{ $json.sku }}",
        "category_id": "={{ $('Create Test Category SQ').item.json.data.id }}",
        "unit_id": "={{ $('Create Test Unit SQ').item.json.data.id }}",
        "sale_price": 1000,
        "purchase_price": 500,
        "purchase_account": "={{ $('Get All COA SQ').item.json.data.result[0].id }}",
        "sale_account": "={{ $('Get All COA SQ').item.json.data.result[0].id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -6192,
        2064
      ],
      "id": "5b56901e-7f3e-48da-adf3-f5117d8d1fa3",
      "name": "Create Product SQ",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product",
        "search": "={{ $('Edit Fields SQ').item.json.sku }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -5968,
        2064
      ],
      "id": "ed8601a1-10ec-40c1-b839-4d63b4a0c7fc",
      "name": "Get All Products SQ2",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "salesQuote",
        "operation": "create",
        "transaction_date": "={{ $now.toISO().split(\"T\")[0] }}",
        "expiry_date": "={{ $now.plus(30, 'days').toISO().split(\"T\")[0] }}",
        "customer": "={{ $('Create Customer SQ').item.json.data.id }}",
        "products": {
          "item": [
            {
              "price": 100,
              "product_id": "={{ $json.data.result[0].id }}",
              "tax_id": "={{ \"\" }}",
              "unit_id": "={{ $('Create Test Unit SQ').item.json.data.id }}"
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -5744,
        2064
      ],
      "id": "e423a8d6-0733-4b9a-ac29-f9903b186478",
      "name": "Create Sales Quote",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "salesQuote",
        "operation": "get",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -5520,
        2064
      ],
      "id": "c3b9473f-9ac3-471c-a757-d795d693f5c0",
      "name": "Get Sales Quote",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "salesQuote",
        "operation": "update",
        "id": "={{ $json.data.id }}",
        "transaction_date": "={{ $now.toISO().split(\"T\")[0] }}",
        "expiry_date": "={{ $now.plus(30, 'days').toISO().split(\"T\")[0] }}",
        "customer": "={{ $('Create Customer SQ').item.json.data.id }}",
        "products": {
          "item": [
            {
              "price": 200,
              "product_id": "={{ $('Get All Products SQ2').item.json.data.result[0].id }}",
              "qty": 2,
              "tax_id": "={{ \"\" }}",
              "unit_id": "={{ $('Create Test Unit SQ').item.json.data.id }}"
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -5296,
        2064
      ],
      "id": "36390bb5-b941-41e9-9359-70e48d60850c",
      "name": "Update Sales Quote",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "salesQuote",
        "operation": "print",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -5072,
        2064
      ],
      "id": "1796d58f-f7fc-42a5-bed6-4ea72dea0867",
      "name": "Print Sales Quote",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "salesQuote",
        "operation": "delete",
        "id": "={{ $('Update Sales Quote').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -4848,
        2064
      ],
      "id": "635ab75b-1d09-4a63-aa4a-17377f6649e9",
      "name": "Delete Sales Quote",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "delete",
        "id": "={{ $('Get All Products SQ2').item.json.data.result[0].id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -4624,
        2064
      ],
      "id": "3353eb88-0bf9-4f80-987e-2b38e7573f5b",
      "name": "Delete Product SQ",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit",
        "operation": "delete",
        "id": "={{ $('Create Test Unit SQ').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -4400,
        2064
      ],
      "id": "50da43e7-4a93-45e6-814b-23c9b8acd27b",
      "name": "Delete Unit SQ",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category",
        "operation": "delete",
        "id": "={{ $('Create Test Category SQ').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -4176,
        2064
      ],
      "id": "cdd2311f-2936-439b-b2a1-e0a319dbe2b7",
      "name": "Delete Category SQ",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "delete",
        "id": "={{ $('Create Customer SQ').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -3952,
        2064
      ],
      "id": "ea203686-7679-44a8-82ab-b3c176821fac",
      "name": "Delete Customer SQ",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "create",
        "name": "N8N Customer SO",
        "email": "n8n.customer.so@keloola.com",
        "additionalFields": {}
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7984,
        2256
      ],
      "id": "25e1fa14-9754-43b9-a863-68ee64714ee4",
      "name": "Create Customer SO",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7760,
        2256
      ],
      "id": "620bb159-691d-47d3-acaa-18ee6367f2a2",
      "name": "Get All Products SO",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7536,
        2256
      ],
      "id": "915d24ae-3da4-476a-ab2b-92743368799e",
      "name": "Get All Categories SO",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category",
        "operation": "create",
        "name": "=n8n-cat-{{Math.floor(Math.random() * 1000)}}",
        "color": "#0000ff"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7312,
        2256
      ],
      "id": "4e0e0369-ee1e-49fa-9761-12a40825926f",
      "name": "Create Test Category SO",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7088,
        2256
      ],
      "id": "3de1c970-b686-436b-b1b1-0d2749b5edaa",
      "name": "Get All Units SO",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit",
        "operation": "create",
        "name": "=U-{{Math.floor(Math.random() * 1000)}}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -6864,
        2256
      ],
      "id": "84a784c3-7cb8-4d19-b096-d3e4d214b33a",
      "name": "Create Test Unit SO",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chartOfAccount"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -6640,
        2256
      ],
      "id": "1016bf58-f411-4c86-a54d-0d3ce07ee5a0",
      "name": "Get All COA SO",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1b2c3d4-0003-0001-0001-00000000000e",
              "name": "sku",
              "value": "=SKU-{{ Math.floor(Math.random() * 100000) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6416,
        2256
      ],
      "id": "41e80f0f-ec3a-4b6f-a66e-6d2c6d823a9b",
      "name": "Edit Fields SO"
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "create",
        "name": "=n8n-product-{{ Math.floor(Math.random() * 100000) }}",
        "sku": "={{ $json.sku }}",
        "category_id": "={{ $('Create Test Category SO').item.json.data.id }}",
        "unit_id": "={{ $('Create Test Unit SO').item.json.data.id }}",
        "sale_price": 1000,
        "purchase_price": 500,
        "purchase_account": "={{ $('Get All COA SO').item.json.data.result[0].id }}",
        "sale_account": "={{ $('Get All COA SO').item.json.data.result[0].id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -6192,
        2256
      ],
      "id": "86551543-220d-45ee-a693-af8bebd9344f",
      "name": "Create Product SO",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product",
        "search": "={{ $('Edit Fields SO').item.json.sku }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -5968,
        2256
      ],
      "id": "05a64df3-989a-4f5f-8af1-68642c4adea5",
      "name": "Get All Products SO2",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "salesOrder",
        "operation": "create",
        "transaction_date": "={{ $now.toISO().split(\"T\")[0] }}",
        "expiry_date": "={{ $now.plus(30, 'days').toISO().split(\"T\")[0] }}",
        "customer": "={{ $('Create Customer SO').item.json.data.id }}",
        "products": {
          "item": [
            {
              "price": 500,
              "product_id": "={{ $json.data.result[0].id }}",
              "unit_id": "={{ $('Create Test Unit SO').item.json.data.id }}"
            }
          ]
        },
        "additionalFields": {
          "currency": "a13bb923-87e3-4df8-a78c-c54dc6bcf08e"
        }
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -5744,
        2256
      ],
      "id": "6e2d9eb0-9646-4799-a243-8e9016954da0",
      "name": "Create Sales Order",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "salesOrder",
        "operation": "get",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -5520,
        2256
      ],
      "id": "e1e2edb9-5db3-4787-a233-a360f60b3901",
      "name": "Get Sales Order",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "salesOrder",
        "operation": "update",
        "id": "={{ $json.data.id }}",
        "transaction_date": "={{ $now.toISO().split(\"T\")[0] }}",
        "expiry_date": "={{ $now.plus(30, 'days').toISO().split(\"T\")[0] }}",
        "customer": "={{ $('Create Customer SO').item.json.data.id }}",
        "products": {
          "item": [
            {
              "product_id": "={{ $('Get All Products SO2').item.json.data.result[0].id }}",
              "unit_id": "={{ $('Get All Products SO2').item.json.data.result[0].unit.id }}"
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -5296,
        2256
      ],
      "id": "2cfa7b75-3403-4677-8f30-caeff869682e",
      "name": "Update Sales Order",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "salesOrder",
        "operation": "print",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -5072,
        2256
      ],
      "id": "0e76a73b-7fb5-43ec-be66-21ffe6673fc4",
      "name": "Print Sales Order",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "salesOrder",
        "operation": "delete",
        "id": "={{ $('Update Sales Order').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -4848,
        2256
      ],
      "id": "db2b9c73-96ab-4b97-8c1d-2c758a80658f",
      "name": "Delete Sales Order",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "delete",
        "id": "={{ $('Get All Products SO2').item.json.data.result[0].id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -4624,
        2256
      ],
      "id": "3bfe9b94-6432-4740-b4ad-36e5c02288e3",
      "name": "Delete Product SO",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit",
        "operation": "delete",
        "id": "={{ $('Create Test Unit SO').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -4400,
        2256
      ],
      "id": "25ea5aae-0754-4ea7-bff0-732667c896fd",
      "name": "Delete Unit SO",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category",
        "operation": "delete",
        "id": "={{ $('Create Test Category SO').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -4176,
        2256
      ],
      "id": "bfb37736-b3f5-462c-ab57-095687cb63ad",
      "name": "Delete Category SO",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "delete",
        "id": "={{ $('Create Customer SO').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -3952,
        2256
      ],
      "id": "1edfd66d-7d18-484d-a0ac-34836567007c",
      "name": "Delete Customer SO",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "create",
        "name": "N8N Customer SD",
        "email": "n8n.customer.sd@keloola.com",
        "additionalFields": {}
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7984,
        2448
      ],
      "id": "90d4a53f-3a72-415f-8636-9d58db7f5558",
      "name": "Create Customer SD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7760,
        2448
      ],
      "id": "fed9ddd9-26f0-4431-a639-b7b599ace967",
      "name": "Get All Products SD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7536,
        2448
      ],
      "id": "097369dd-baef-4cec-ad3b-1c3ddc149d02",
      "name": "Get All Categories SD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category",
        "operation": "create",
        "name": "=n8n-cat-{{Math.floor(Math.random() * 1000)}}",
        "color": "#ff00ff"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7312,
        2448
      ],
      "id": "123c17f4-e959-4790-ac34-17b5dbfb3f3b",
      "name": "Create Test Category SD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7088,
        2448
      ],
      "id": "89676e90-ab64-4e15-87d3-74eeb15bf5dd",
      "name": "Get All Units SD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit",
        "operation": "create",
        "name": "=U-{{Math.floor(Math.random() * 1000)}}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -6864,
        2448
      ],
      "id": "e36f4662-c050-4632-a955-3d71d8707b4e",
      "name": "Create Test Unit SD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chartOfAccount"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -6640,
        2448
      ],
      "id": "82d11505-cb8d-41cc-b879-a7ad7c31f3fe",
      "name": "Get All COA SD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1b2c3d4-0004-0001-0001-00000000000e",
              "name": "sku",
              "value": "=SKU-{{ Math.floor(Math.random() * 100000) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6416,
        2448
      ],
      "id": "52c9da4a-6789-4f2c-83e9-a3c677032613",
      "name": "Edit Fields SD"
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "create",
        "name": "=n8n-product-{{ Math.floor(Math.random() * 100000) }}",
        "sku": "={{ $json.sku }}",
        "category_id": "={{ $('Create Test Category SD').item.json.data.id }}",
        "unit_id": "={{ $('Create Test Unit SD').item.json.data.id }}",
        "sale_price": 1000,
        "purchase_price": 500,
        "purchase_account": "={{ $('Get All COA SD').item.json.data.result[0].id }}",
        "sale_account": "={{ $('Get All COA SD').item.json.data.result[0].id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -6192,
        2448
      ],
      "id": "00218ea1-ab66-412f-a184-42f80b29d2dd",
      "name": "Create Product SD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product",
        "search": "={{ $('Edit Fields SD').item.json.sku }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -5968,
        2448
      ],
      "id": "e48f3282-0d19-41b8-84b7-be0b13e881d9",
      "name": "Get All Products SD2",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "salesDelivery",
        "operation": "create",
        "transaction_date": "={{ $now.toISO().split(\"T\")[0] }}",
        "shipping_date": "={{ $now.toISO().split(\"T\")[0] }}",
        "expiry_date": "={{ $now.plus(30, \"days\").toISO().split(\"T\")[0] }}",
        "order_id": "={{ $(\"Create SO for SD\").item.json.data.id }}",
        "customer": "={{ $(\"Create Customer SD\").item.json.data.id }}",
        "products": {
          "item": [
            {
              "price": 500,
              "product_id": "={{ $json.data.sale_items[0].product_id }}",
              "sale_item_id": "={{ $json.data.sale_items[0].id }}",
              "unit_id": "={{ $(\"Create Test Unit SD\").item.json.data.id }}"
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -5296,
        2448
      ],
      "id": "82fe1d63-095d-4fec-ae9e-7ca57cfd83a2",
      "name": "Create Sales Delivery",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "salesDelivery",
        "operation": "get",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -5072,
        2448
      ],
      "id": "201c2b26-c21f-40d2-b87f-283a356e2cd0",
      "name": "Get Sales Delivery",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "salesDelivery",
        "operation": "update",
        "id": "={{ $json.data.id }}",
        "transaction_date": "={{ $now.toISO().split(\"T\")[0] }}",
        "shipping_date": "={{ $now.toISO().split(\"T\")[0] }}",
        "expiry_date": "={{ $now.plus(30, \"days\").toISO().split(\"T\")[0] }}",
        "order_id": "={{ $(\"Create SO for SD\").item.json.data.id }}",
        "customer": "={{ $(\"Create Customer SD\").item.json.data.id }}",
        "products": {
          "item": [
            {
              "product_id": "={{ $(\"Get SO for SD\").item.json.data.sale_items[0].product_id }}",
              "sale_item_id": "={{ $(\"Get SO for SD\").item.json.data.sale_items[0].id }}",
              "unit_id": "={{ $(\"Create Test Unit SD\").item.json.data.id }}"
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -4848,
        2448
      ],
      "id": "dc3e9af2-4d4d-4cad-b7a4-06b20a09c46e",
      "name": "Update Sales Delivery",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "salesDelivery",
        "operation": "delete",
        "id": "={{ $('Update Sales Delivery').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -4624,
        2448
      ],
      "id": "eea87239-6f3a-438a-89bb-2f1ba5fe9d09",
      "name": "Delete Sales Delivery",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "delete",
        "id": "={{ $('Get All Products SD2').item.json.data.result[0].id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -4176,
        2448
      ],
      "id": "d0d8d1a4-e646-42dc-b9b0-95e12d0e8963",
      "name": "Delete Product SD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit",
        "operation": "delete",
        "id": "={{ $('Create Test Unit SD').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -3952,
        2448
      ],
      "id": "461c8e6b-f8f5-4cb5-853c-3397df374f6f",
      "name": "Delete Unit SD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category",
        "operation": "delete",
        "id": "={{ $('Create Test Category SD').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -3728,
        2448
      ],
      "id": "d7e1aaae-7f2b-4a5e-955c-e522e10ffd74",
      "name": "Delete Category SD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "delete",
        "id": "={{ $('Create Customer SD').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -3504,
        2448
      ],
      "id": "69115399-ab6d-4fb1-8943-6c56ad0a060d",
      "name": "Delete Customer SD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "create",
        "name": "N8N Customer SI",
        "email": "n8n.customer.si@keloola.com",
        "additionalFields": {}
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7984,
        2640
      ],
      "id": "cb04a0f0-d2e7-4438-a62d-6183c0a9df6e",
      "name": "Create Customer SI",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7760,
        2640
      ],
      "id": "3606a018-cf52-45c9-9ef4-b62205860b6f",
      "name": "Get All Products SI",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7536,
        2640
      ],
      "id": "eae85fef-5e24-4e7b-a6a6-8fff07834407",
      "name": "Get All Categories SI",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category",
        "operation": "create",
        "name": "=n8n-cat-{{Math.floor(Math.random() * 1000)}}",
        "color": "#ffff00"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7312,
        2640
      ],
      "id": "852a7af4-e3ca-4893-8b7c-bf18487cb028",
      "name": "Create Test Category SI",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7088,
        2640
      ],
      "id": "8e199ca4-e897-44d0-925b-a69e7bcafc9b",
      "name": "Get All Units SI",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit",
        "operation": "create",
        "name": "=U-{{Math.floor(Math.random() * 1000)}}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -6864,
        2640
      ],
      "id": "cba5ad39-5fd7-48d9-8e9d-dd2fa302ce99",
      "name": "Create Test Unit SI",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chartOfAccount"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -6640,
        2640
      ],
      "id": "e62c3489-fa94-4441-be98-9714d2fcaf64",
      "name": "Get All COA SI",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1b2c3d4-0005-0001-0001-00000000000e",
              "name": "sku",
              "value": "=SKU-{{ Math.floor(Math.random() * 100000) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6416,
        2640
      ],
      "id": "c239cda3-8470-4588-b337-a4b595123902",
      "name": "Edit Fields SI"
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "create",
        "name": "=n8n-product-{{ Math.floor(Math.random() * 100000) }}",
        "sku": "={{ $json.sku }}",
        "category_id": "={{ $('Create Test Category SI').item.json.data.id }}",
        "unit_id": "={{ $('Create Test Unit SI').item.json.data.id }}",
        "sale_price": 1000,
        "purchase_price": 500,
        "purchase_account": "={{ $('Get All COA SI').item.json.data.result[0].id }}",
        "sale_account": "={{ $('Get All COA SI').item.json.data.result[0].id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -6192,
        2640
      ],
      "id": "07edb2b3-0538-4a64-a506-0a53988cb250",
      "name": "Create Product SI",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product",
        "search": "={{ $('Edit Fields SI').item.json.sku }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -5968,
        2640
      ],
      "id": "cf2f58f6-d844-4c86-9e33-c5f593cd7698",
      "name": "Get All Products SI2",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "salesInvoice",
        "operation": "create",
        "transaction_date": "={{ $now.toISO().split(\"T\")[0] }}",
        "expiry_date": "={{ $now.plus(30, \"days\").toISO().split(\"T\")[0] }}",
        "due_date": "={{ $now.plus(30, 'days').toISO().split(\"T\")[0] }}",
        "customer": "={{ $('Create Customer SI').item.json.data.id }}",
        "products": {
          "item": [
            {
              "price": 500,
              "product_id": "={{ $json.data.result[0].id }}",
              "unit_id": "={{ $('Create Test Unit SI').item.json.data.id }}"
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -5744,
        2640
      ],
      "id": "6a7cba8b-fc61-4ed6-91ec-87df55b1f829",
      "name": "Create Sales Invoice",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "salesInvoice",
        "operation": "get",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -5520,
        2640
      ],
      "id": "60bbbb45-c719-49fb-9d3f-b6143ec8efc5",
      "name": "Get Sales Invoice",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "salesInvoice",
        "operation": "update",
        "id": "={{ $json.data.id }}",
        "transaction_date": "={{ $now.toISO().split(\"T\")[0] }}",
        "expiry_date": "={{ $now.plus(30, \"days\").toISO().split(\"T\")[0] }}",
        "due_date": "={{ $now.plus(30, 'days').toISO().split(\"T\")[0] }}",
        "customer": "={{ $('Create Customer SI').item.json.data.id }}",
        "products": {
          "item": [
            {
              "product_id": "={{ $('Get All Products SI2').item.json.data.result[0].id }}",
              "unit_id": "={{ $('Get All Products SI2').item.json.data.result[0].unit.id }}"
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -5296,
        2640
      ],
      "id": "3144ef24-37a7-4874-b8df-e86d0353e439",
      "name": "Update Sales Invoice",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "salesInvoice",
        "operation": "print",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -5072,
        2640
      ],
      "id": "095b1fec-cbff-4e81-b651-1ad4aa2419e3",
      "name": "Print Sales Invoice",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "salesInvoice",
        "operation": "delete",
        "id": "={{ $('Update Sales Invoice').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -4848,
        2640
      ],
      "id": "a11934ec-f3e7-4b27-a163-8ddd7758e87c",
      "name": "Delete Sales Invoice",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "delete",
        "id": "={{ $('Get All Products SI2').item.json.data.result[0].id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -4624,
        2640
      ],
      "id": "277a887f-6117-4fcd-a913-aaecfcd89793",
      "name": "Delete Product SI",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit",
        "operation": "delete",
        "id": "={{ $('Create Test Unit SI').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -4400,
        2640
      ],
      "id": "ade98485-ae88-4832-9f13-a6307e40f47a",
      "name": "Delete Unit SI",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category",
        "operation": "delete",
        "id": "={{ $('Create Test Category SI').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -4176,
        2640
      ],
      "id": "6a103d72-65d3-454e-9515-70991482d70f",
      "name": "Delete Category SI",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "delete",
        "id": "={{ $('Create Customer SI').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -3952,
        2640
      ],
      "id": "877227d0-7561-442e-8b82-f1184da31c0c",
      "name": "Delete Customer SI",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "salesOrder",
        "operation": "create",
        "transaction_date": "={{ $now.toISO().split(\"T\")[0] }}",
        "expiry_date": "={{ $now.plus(30, \"days\").toISO().split(\"T\")[0] }}",
        "customer": "={{ $(\"Create Customer SD\").item.json.data.id }}",
        "products": {
          "item": [
            {
              "price": 500,
              "product_id": "={{ $json.data.result[0].id }}",
              "unit_id": "={{ $(\"Create Test Unit SD\").item.json.data.id }}"
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -5744,
        2448
      ],
      "id": "101d576b-7adc-47f5-a847-4392291f7517",
      "name": "Create SO for SD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "salesOrder",
        "operation": "get",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -5520,
        2448
      ],
      "id": "bbd31fed-1baa-46e7-b134-55aa4a908779",
      "name": "Get SO for SD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "salesOrder",
        "operation": "delete",
        "id": "={{ $(\"Create SO for SD\").item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -4400,
        2448
      ],
      "id": "577ea6da-97c3-4ec5-a47c-06719d9981e1",
      "name": "Delete SO for SD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "create",
        "contact_type": "vendor",
        "name": "N8N Vendor PD",
        "email": "n8n.vendor.pd@keloola.com",
        "additionalFields": {}
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7984,
        1872
      ],
      "id": "179f9f01-da8a-4e7d-a464-380aba7f8795",
      "name": "Create Vendor PD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7760,
        1872
      ],
      "id": "31f2e12d-e74e-42b1-9df2-2176cfa62d8b",
      "name": "Get All Categories PD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category",
        "operation": "create",
        "name": "=n8n-cat-{{Math.floor(Math.random() * 1000)}}",
        "color": "#00ffff"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7536,
        1872
      ],
      "id": "19f216e8-a130-4193-93ea-195040a7867f",
      "name": "Create Test Category PD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7312,
        1872
      ],
      "id": "0f6db3a0-ad18-41f1-b234-2d3b2e22a550",
      "name": "Get All Units PD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit",
        "operation": "create",
        "name": "=U-{{Math.floor(Math.random() * 1000)}}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -7088,
        1872
      ],
      "id": "d89c6e44-cddb-4a24-91a7-f2f57ccdd889",
      "name": "Create Test Unit PD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chartOfAccount"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -6864,
        1872
      ],
      "id": "079173d1-4e1c-4e52-8377-f685bfe45faa",
      "name": "Get All COA PD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1c2c3d4-0006-0001-0001-00000000000e",
              "name": "sku",
              "value": "=SKU-{{ Math.floor(Math.random() * 100000) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6640,
        1872
      ],
      "id": "44db20bc-dfe0-4002-9ceb-e2cbde847762",
      "name": "Edit Fields PD"
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "create",
        "name": "=n8n-product-{{ Math.floor(Math.random() * 100000) }}",
        "sku": "={{ $json.sku }}",
        "category_id": "={{ $('Create Test Category PD').item.json.data.id }}",
        "unit_id": "={{ $('Create Test Unit PD').item.json.data.id }}",
        "sale_price": 1000,
        "purchase_price": 500,
        "purchase_account": "={{ $('Get All COA PD').item.json.data.result[0].id }}",
        "sale_account": "={{ $('Get All COA PD').item.json.data.result[0].id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -6416,
        1872
      ],
      "id": "485cbbd1-5544-4757-ba2d-125f32ecb453",
      "name": "Create Product PD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product",
        "search": "={{ $('Edit Fields PD').item.json.sku }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -6192,
        1872
      ],
      "id": "9eec1a62-4fd8-4efd-9788-34a1a2156d06",
      "name": "Get All Products PD2",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "purchaseOrder",
        "operation": "create",
        "transaction_date": "={{ $now.toISO().split(\"T\")[0] }}",
        "expiry_date": "={{ $now.plus(30, 'days').toISO().split(\"T\")[0] }}",
        "vendor": "={{ $('Create Vendor PD').item.json.data.id }}",
        "products": {
          "item": [
            {
              "price": 500,
              "product_id": "={{ $json.data.result[0].id }}",
              "qty": 5,
              "unit_id": "={{ $('Create Test Unit PD').item.json.data.id }}"
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -5968,
        1872
      ],
      "id": "96af4878-a36d-426e-a937-4c010df4c91f",
      "name": "Create PO for PD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "purchaseOrder",
        "operation": "get",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -5744,
        1872
      ],
      "id": "ae5df1da-9903-4ec2-af2f-c5e95b863d3e",
      "name": "Get PO for PD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "purchaseDelivery",
        "operation": "create",
        "order_id": "={{ $json.data.id }}",
        "vendor": "={{ $('Create Vendor PD').item.json.data.id }}",
        "shipping_date": "={{ $now.toISO().split(\"T\")[0] }}",
        "arrival_date": "={{ $now.plus(7, \"days\").toISO().split(\"T\")[0] }}",
        "tracking_number": "=TRK-{{ Math.floor(Math.random() * 100000) }}",
        "products": {
          "item": [
            {
              "purchase_item_id": "={{ $json.data.purchase_items[0].id }}",
              "product_id": "={{ $json.data.purchase_items[0].product_id }}",
              "qty": 5
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -5520,
        1872
      ],
      "id": "5f31df2b-ca32-4aea-b434-6e134f1e05a7",
      "name": "Create Purchase Delivery",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "purchaseDelivery",
        "operation": "get",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -5296,
        1872
      ],
      "id": "547b4701-c4a9-44c3-b049-f7f010e4b6de",
      "name": "Get Purchase Delivery",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "purchaseGoodReceiveNote",
        "operation": "create",
        "purchase_id": "={{ $json.data.id }}",
        "received_date": "={{ $now.toISO().split(\"T\")[0] }}",
        "stock_officer_id": "={{ $('Get user organizations').item.json.data.id }}",
        "products": {
          "item": [
            {
              "product_id": "={{ $json.data.purchase_items[0].product_id }}",
              "received_qty": 5
            }
          ]
        }
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -5072,
        1872
      ],
      "id": "a8b47406-be50-4ceb-983b-85392ea7bc0a",
      "name": "Create GRN from PD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "purchaseGoodReceiveNote",
        "operation": "get",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -4848,
        1872
      ],
      "id": "2aa9dbf3-f0cc-42e5-be76-e88901127e58",
      "name": "Get Created GRN",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Get current user": {
      "main": [
        [
          {
            "node": "Get user organizations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get user organizations": {
      "main": [
        [
          {
            "node": "Create a contact1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get All Categories",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create a contact",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get COA Types",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get All Units",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create a contact2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Customer SQ",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Customer SO",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Customer SD",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Customer SI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Vendor PD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Units": {
      "main": [
        [
          {
            "node": "Create Unit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Unit": {
      "main": [
        [
          {
            "node": "Get Created Unit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Created Unit": {
      "main": [
        [
          {
            "node": "Update Unit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Unit": {
      "main": [
        [
          {
            "node": "Delete Unit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All COA": {
      "main": [
        [
          {
            "node": "Get Created COA",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Tax",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get All Currencies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get COA Types": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create COA": {
      "main": [
        [
          {
            "node": "Get All COA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Created COA": {
      "main": [
        [
          {
            "node": "Update COA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update COA": {
      "main": [
        [
          {
            "node": "Delete COA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Tax": {
      "main": [
        [
          {
            "node": "Get Created Tax",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Tax": {
      "main": [
        [
          {
            "node": "Get All Tax",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Created Tax": {
      "main": [
        [
          {
            "node": "Update Tax",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Tax": {
      "main": [
        [
          {
            "node": "Delete Tax",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Products": {
      "main": [
        [
          {
            "node": "Get Created Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Product": {
      "main": [
        [
          {
            "node": "Get All Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Created Product": {
      "main": [
        [
          {
            "node": "Update Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Product": {
      "main": [
        [
          {
            "node": "Delete Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Categories": {
      "main": [
        [
          {
            "node": "Create Test Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Category": {
      "main": [
        [
          {
            "node": "Get All Units For Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Units For Product": {
      "main": [
        [
          {
            "node": "Create Test Unit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Unit": {
      "main": [
        [
          {
            "node": "Get All COA For Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All COA For Product": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Journals": {
      "main": [
        [
          {
            "node": "Create Journal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Journal": {
      "main": [
        [
          {
            "node": "Get Created Journal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Created Journal": {
      "main": [
        [
          {
            "node": "Update Journal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Journal": {
      "main": [
        [
          {
            "node": "Delete Journal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Currencies": {
      "main": [
        [
          {
            "node": "Get All Journals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Create COA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual": {
      "main": [
        [
          {
            "node": "Get current user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Purchase Quote": {
      "main": [
        [
          {
            "node": "Get Created Purchase Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Created Purchase Quote": {
      "main": [
        [
          {
            "node": "Update Purchase Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Purchase Quote": {
      "main": [
        [
          {
            "node": "Print purchase quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Purchase Quote": {
      "main": [
        [
          {
            "node": "Delete a product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Products1": {
      "main": [
        [
          {
            "node": "Get All Categories1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a contact": {
      "main": [
        [
          {
            "node": "Get All Products1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Categories1": {
      "main": [
        [
          {
            "node": "Create Test Category1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Units For Product1": {
      "main": [
        [
          {
            "node": "Create Test Unit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Products2": {
      "main": [
        [
          {
            "node": "Create Purchase Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Product1": {
      "main": [
        [
          {
            "node": "Get All Products2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Category1": {
      "main": [
        [
          {
            "node": "Get All Units For Product1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Unit1": {
      "main": [
        [
          {
            "node": "Get All COA For Product1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All COA For Product1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Print purchase quote": {
      "main": [
        [
          {
            "node": "Delete Purchase Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a product": {
      "main": [
        [
          {
            "node": "Delete a unit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a unit": {
      "main": [
        [
          {
            "node": "Delete a category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a category": {
      "main": [
        [
          {
            "node": "Delete a contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Products3": {
      "main": [
        [
          {
            "node": "Get All Categories2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a contact1": {
      "main": [
        [
          {
            "node": "Get All Products3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Categories2": {
      "main": [
        [
          {
            "node": "Create Test Category2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Units For Product2": {
      "main": [
        [
          {
            "node": "Create Test Unit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Product2": {
      "main": [
        [
          {
            "node": "Get All Products4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Category2": {
      "main": [
        [
          {
            "node": "Get All Units For Product2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Unit2": {
      "main": [
        [
          {
            "node": "Get All COA For Product2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All COA For Product2": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Products4": {
      "main": [
        [
          {
            "node": "Create a purchase order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Print purchase order": {
      "main": [
        [
          {
            "node": "Delete a purchase order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a purchase order": {
      "main": [
        [
          {
            "node": "Get a purchase order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a purchase order": {
      "main": [
        [
          {
            "node": "Update a purchase order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a purchase order": {
      "main": [
        [
          {
            "node": "Print purchase order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a purchase order": {
      "main": [
        [
          {
            "node": "Delete a product1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Create Product1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Create Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Create Product2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a product1": {
      "main": [
        [
          {
            "node": "Delete a unit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a unit1": {
      "main": [
        [
          {
            "node": "Delete a category1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a category1": {
      "main": [
        [
          {
            "node": "Delete a contact1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a contact2": {
      "main": [
        [
          {
            "node": "Get All Products5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Products5": {
      "main": [
        [
          {
            "node": "Get All Categories3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Categories3": {
      "main": [
        [
          {
            "node": "Create Test Category3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Category3": {
      "main": [
        [
          {
            "node": "Get All Units For Product3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Units For Product3": {
      "main": [
        [
          {
            "node": "Create Test Unit3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Unit3": {
      "main": [
        [
          {
            "node": "Get All COA For Product3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All COA For Product3": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Create Product3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Product3": {
      "main": [
        [
          {
            "node": "Get All Products6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Products6": {
      "main": [
        [
          {
            "node": "Create Purchase Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Purchase Invoice": {
      "main": [
        [
          {
            "node": "Get Purchase Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Purchase Invoice": {
      "main": [
        [
          {
            "node": "Update Purchase Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Purchase Invoice": {
      "main": [
        [
          {
            "node": "Print Purchase Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Print Purchase Invoice": {
      "main": [
        [
          {
            "node": "Delete Purchase Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Purchase Invoice": {
      "main": [
        [
          {
            "node": "Delete a product2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a product2": {
      "main": [
        [
          {
            "node": "Delete a unit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a unit2": {
      "main": [
        [
          {
            "node": "Delete a category2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a category2": {
      "main": [
        [
          {
            "node": "Delete a contact2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Customer SQ": {
      "main": [
        [
          {
            "node": "Get All Products SQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Products SQ": {
      "main": [
        [
          {
            "node": "Get All Categories SQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Categories SQ": {
      "main": [
        [
          {
            "node": "Create Test Category SQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Category SQ": {
      "main": [
        [
          {
            "node": "Get All Units SQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Units SQ": {
      "main": [
        [
          {
            "node": "Create Test Unit SQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Unit SQ": {
      "main": [
        [
          {
            "node": "Get All COA SQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All COA SQ": {
      "main": [
        [
          {
            "node": "Edit Fields SQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields SQ": {
      "main": [
        [
          {
            "node": "Create Product SQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Product SQ": {
      "main": [
        [
          {
            "node": "Get All Products SQ2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Products SQ2": {
      "main": [
        [
          {
            "node": "Create Sales Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Sales Quote": {
      "main": [
        [
          {
            "node": "Get Sales Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Sales Quote": {
      "main": [
        [
          {
            "node": "Update Sales Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sales Quote": {
      "main": [
        [
          {
            "node": "Print Sales Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Print Sales Quote": {
      "main": [
        [
          {
            "node": "Delete Sales Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Sales Quote": {
      "main": [
        [
          {
            "node": "Delete Product SQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Product SQ": {
      "main": [
        [
          {
            "node": "Delete Unit SQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Unit SQ": {
      "main": [
        [
          {
            "node": "Delete Category SQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Category SQ": {
      "main": [
        [
          {
            "node": "Delete Customer SQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Customer SO": {
      "main": [
        [
          {
            "node": "Get All Products SO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Products SO": {
      "main": [
        [
          {
            "node": "Get All Categories SO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Categories SO": {
      "main": [
        [
          {
            "node": "Create Test Category SO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Category SO": {
      "main": [
        [
          {
            "node": "Get All Units SO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Units SO": {
      "main": [
        [
          {
            "node": "Create Test Unit SO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Unit SO": {
      "main": [
        [
          {
            "node": "Get All COA SO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All COA SO": {
      "main": [
        [
          {
            "node": "Edit Fields SO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields SO": {
      "main": [
        [
          {
            "node": "Create Product SO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Product SO": {
      "main": [
        [
          {
            "node": "Get All Products SO2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Products SO2": {
      "main": [
        [
          {
            "node": "Create Sales Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Sales Order": {
      "main": [
        [
          {
            "node": "Get Sales Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Sales Order": {
      "main": [
        [
          {
            "node": "Update Sales Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sales Order": {
      "main": [
        [
          {
            "node": "Print Sales Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Print Sales Order": {
      "main": [
        [
          {
            "node": "Delete Sales Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Sales Order": {
      "main": [
        [
          {
            "node": "Delete Product SO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Product SO": {
      "main": [
        [
          {
            "node": "Delete Unit SO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Unit SO": {
      "main": [
        [
          {
            "node": "Delete Category SO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Category SO": {
      "main": [
        [
          {
            "node": "Delete Customer SO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Customer SD": {
      "main": [
        [
          {
            "node": "Get All Products SD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Products SD": {
      "main": [
        [
          {
            "node": "Get All Categories SD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Categories SD": {
      "main": [
        [
          {
            "node": "Create Test Category SD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Category SD": {
      "main": [
        [
          {
            "node": "Get All Units SD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Units SD": {
      "main": [
        [
          {
            "node": "Create Test Unit SD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Unit SD": {
      "main": [
        [
          {
            "node": "Get All COA SD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All COA SD": {
      "main": [
        [
          {
            "node": "Edit Fields SD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields SD": {
      "main": [
        [
          {
            "node": "Create Product SD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Product SD": {
      "main": [
        [
          {
            "node": "Get All Products SD2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Products SD2": {
      "main": [
        [
          {
            "node": "Create SO for SD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Sales Delivery": {
      "main": [
        [
          {
            "node": "Get Sales Delivery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Sales Delivery": {
      "main": [
        [
          {
            "node": "Update Sales Delivery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sales Delivery": {
      "main": [
        [
          {
            "node": "Delete Sales Delivery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Sales Delivery": {
      "main": [
        [
          {
            "node": "Delete SO for SD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Product SD": {
      "main": [
        [
          {
            "node": "Delete Unit SD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Unit SD": {
      "main": [
        [
          {
            "node": "Delete Category SD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Category SD": {
      "main": [
        [
          {
            "node": "Delete Customer SD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Customer SI": {
      "main": [
        [
          {
            "node": "Get All Products SI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Products SI": {
      "main": [
        [
          {
            "node": "Get All Categories SI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Categories SI": {
      "main": [
        [
          {
            "node": "Create Test Category SI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Category SI": {
      "main": [
        [
          {
            "node": "Get All Units SI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Units SI": {
      "main": [
        [
          {
            "node": "Create Test Unit SI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Unit SI": {
      "main": [
        [
          {
            "node": "Get All COA SI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All COA SI": {
      "main": [
        [
          {
            "node": "Edit Fields SI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields SI": {
      "main": [
        [
          {
            "node": "Create Product SI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Product SI": {
      "main": [
        [
          {
            "node": "Get All Products SI2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Products SI2": {
      "main": [
        [
          {
            "node": "Create Sales Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Sales Invoice": {
      "main": [
        [
          {
            "node": "Get Sales Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Sales Invoice": {
      "main": [
        [
          {
            "node": "Update Sales Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sales Invoice": {
      "main": [
        [
          {
            "node": "Print Sales Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Print Sales Invoice": {
      "main": [
        [
          {
            "node": "Delete Sales Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Sales Invoice": {
      "main": [
        [
          {
            "node": "Delete Product SI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Product SI": {
      "main": [
        [
          {
            "node": "Delete Unit SI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Unit SI": {
      "main": [
        [
          {
            "node": "Delete Category SI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Category SI": {
      "main": [
        [
          {
            "node": "Delete Customer SI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create SO for SD": {
      "main": [
        [
          {
            "node": "Get SO for SD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get SO for SD": {
      "main": [
        [
          {
            "node": "Create Sales Delivery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete SO for SD": {
      "main": [
        [
          {
            "node": "Delete Product SD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Vendor PD": {
      "main": [
        [
          {
            "node": "Get All Categories PD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Categories PD": {
      "main": [
        [
          {
            "node": "Create Test Category PD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Category PD": {
      "main": [
        [
          {
            "node": "Get All Units PD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Units PD": {
      "main": [
        [
          {
            "node": "Create Test Unit PD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Unit PD": {
      "main": [
        [
          {
            "node": "Get All COA PD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All COA PD": {
      "main": [
        [
          {
            "node": "Edit Fields PD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields PD": {
      "main": [
        [
          {
            "node": "Create Product PD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Product PD": {
      "main": [
        [
          {
            "node": "Get All Products PD2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Products PD2": {
      "main": [
        [
          {
            "node": "Create PO for PD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create PO for PD": {
      "main": [
        [
          {
            "node": "Get PO for PD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get PO for PD": {
      "main": [
        [
          {
            "node": "Create Purchase Delivery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Purchase Delivery": {
      "main": [
        [
          {
            "node": "Get Purchase Delivery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Purchase Delivery": {
      "main": [
        [
          {
            "node": "Create GRN from PD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create GRN from PD": {
      "main": [
        [
          {
            "node": "Get Created GRN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Created GRN": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Jakarta",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "179cae2d-97a7-4f13-acb4-209e4b166c44",
  "meta": {
    "instanceId": "d0734ef49c6e31d3fe8e4f08b2f749b9a5f9bebb2abedda92821e4975833618c"
  },
  "id": "TbAZXjD_7jppym2hteRWc",
  "tags": []
}