dev-workflow.json
{
  "name": "Keloola Accounting Test Workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        -224,
        384
      ],
      "id": "f5ba9e88-2a23-4f6f-977e-a45b63623546",
      "name": "Get current user",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "organization"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        0,
        384
      ],
      "id": "3cc5c048-6fb8-4d79-afbf-4aaa6622bedb",
      "name": "Get user organizations",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "d872bf02-a762-4cf1-a5b5-12956c5d42f3",
      "name": "Get All Units",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit",
        "operation": "create",
        "name": "n8n-unit"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "id": "44437707-9166-4b53-b624-e49208247a90",
      "name": "Create Unit",
      "alwaysOutputData": false,
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit",
        "operation": "get",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        672,
        0
      ],
      "id": "2aacca4e-b3bd-4098-929a-426d88b34f48",
      "name": "Get Created Unit",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit",
        "operation": "update",
        "id": "={{ $json.data.id }}",
        "name": "=update-{{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        896,
        0
      ],
      "id": "7d4092a9-f75e-4d7f-90be-f1bc8d0ea75e",
      "name": "Update Unit",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit",
        "operation": "delete",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1120,
        0
      ],
      "id": "f5fc2d27-6ffb-4382-a03e-1c1d39ed2ab4",
      "name": "Delete Unit",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chartOfAccount",
        "search": "={{ $('Edit Fields').item.json.coa_name }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        896,
        384
      ],
      "id": "b039215a-d34d-4a19-bb12-da3fd0ef297c",
      "name": "Get All COA",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chartOfAccount",
        "operation": "getTypes"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        224,
        384
      ],
      "id": "ebdf546a-542b-47b2-8e9d-2af422395545",
      "name": "Get COA Types",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chartOfAccount",
        "operation": "create",
        "name": "={{ $json.coa_name }}",
        "code": "={{ Math.floor(Math.random() * 900000) + 100000 }}",
        "type": "={{ $('Get COA Types').item.json.data[0].id }}",
        "description": "Test COA from n8n"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        672,
        384
      ],
      "id": "0f1a3089-dc3d-4d52-b613-0e220020bafe",
      "name": "Create COA",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chartOfAccount",
        "operation": "get",
        "id": "={{ $json.data.result[0].id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1120,
        192
      ],
      "id": "d8136576-50a0-498c-8898-bebc5750a620",
      "name": "Get Created COA",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chartOfAccount",
        "operation": "update",
        "id": "={{ $json.data.id }}",
        "name": "=updated-{{ $json.data.name }}",
        "code": "={{ $json.data.code }}",
        "type": "={{ $json.data.type.id }}",
        "account": "={{ $json.data.parent_account?.id || '' }}",
        "description": "Updated from n8n"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1344,
        192
      ],
      "id": "d45d425d-604f-4e31-81a9-5cba741c66b9",
      "name": "Update COA",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chartOfAccount",
        "operation": "delete",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1568,
        192
      ],
      "id": "405ffe93-f824-485c-9d73-a00e31114219",
      "name": "Delete COA",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "tax"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1344,
        384
      ],
      "id": "ee8dfe64-bb74-4176-9857-f6fc00e06d01",
      "name": "Get All Tax",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "tax",
        "operation": "create",
        "name": "n8n-test-tax",
        "rate": 10,
        "saleAccount": "={{ $('Get All COA').item.json.data.result[0].id }}",
        "purchaseAccount": "={{ $('Get All COA').item.json.data.result[0].id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1120,
        384
      ],
      "id": "cda26dc6-d78f-4c21-957a-e4fcec5ad0e6",
      "name": "Create Tax",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "tax",
        "operation": "get",
        "id": "={{ $json.data.result[0].id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1568,
        384
      ],
      "id": "82736446-c9c6-4049-a1ea-d3788766f277",
      "name": "Get Created Tax",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "tax",
        "operation": "update",
        "id": "={{ $json.data.id }}",
        "name": "=updated-{{ $json.data.name }}",
        "rate": 15,
        "saleAccount": "={{ $json.data.sale_account.id }}",
        "purchaseAccount": "={{ $json.data.purchase_account.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1792,
        384
      ],
      "id": "c4dab917-38b4-4806-8721-e198c11a8d98",
      "name": "Update Tax",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "tax",
        "operation": "delete",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2016,
        384
      ],
      "id": "84f91099-6c81-43a5-9b98-50b41c4be590",
      "name": "Delete Tax",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        224,
        768
      ],
      "id": "21e46d44-43ff-4514-9c48-611a4d303764",
      "name": "Get All Categories",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        672,
        768
      ],
      "id": "73149879-f4b1-49ed-91db-b70f8168c50a",
      "name": "Get All Units For Product",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1568,
        768
      ],
      "id": "3ea72a07-73e0-4ad3-a7df-0346e2d36e72",
      "name": "Get All Products",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "create",
        "name": "=n8n-product-{{ Math.floor(Math.random() * 100000) }}",
        "sku": "=SKU-{{ Math.floor(Math.random() * 100000) }}",
        "category_id": "={{ $('Create Test Category').item.json.data.id }}",
        "unit_id": "={{ $('Create Test Unit').item.json.data.id }}",
        "sale_price": 1000,
        "purchase_price": 500,
        "purchase_account": "={{ $('Get All COA For Product').item.json.data.result[0].id }}",
        "sale_account": "={{ $('Get All COA For Product').item.json.data.result[0].id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1344,
        768
      ],
      "id": "d4208dad-303d-420f-9e3d-789b881b1947",
      "name": "Create Product",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "get",
        "id": "={{ $json.data.result[0].id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1792,
        768
      ],
      "id": "97d1c844-4b0d-47be-9a63-881f94936b06",
      "name": "Get Created Product",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "update",
        "id": "={{ $json.data.id }}",
        "name": "=updated-{{ $json.data.name }}",
        "sku": "={{ $json.data.sku }}",
        "category_id": "={{ $json.data.category.id }}",
        "unit_id": "={{ $json.data.unit.id }}",
        "description": "={{ $json.data.description }}",
        "sale_price": "={{ $json.data.sale_price.number }}",
        "purchase_price": "={{ $json.data.purchase_price.number }}",
        "purchase_account": "={{ $json.data.purchase_account?.id || $('Get All COA').item.json.data.result[0].id }}",
        "sale_account": "={{ $json.data.purchase_account?.id || $('Get All COA').item.json.data.result[0].id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2016,
        768
      ],
      "id": "375d1c19-2e75-4a77-bfad-32c3ddffe472",
      "name": "Update Product",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "delete",
        "id": "={{ $('Get Created Product').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2240,
        768
      ],
      "id": "c608b632-756b-47fa-a04f-dc533ec630eb",
      "name": "Delete Product",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category",
        "operation": "create",
        "name": "=n8n-cat-{{Math.floor(Math.random() * 1000)}}",
        "color": "#ff0000"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        448,
        768
      ],
      "id": "d04960d8-b354-45fe-a52b-6669d4ddf330",
      "name": "Create Test Category",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit",
        "operation": "create",
        "name": "=U-{{Math.floor(Math.random() * 1000)}}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        896,
        768
      ],
      "id": "a8b77be4-ee60-4b0d-88c1-6bfd3916fcc4",
      "name": "Create Test Unit",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chartOfAccount"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1120,
        768
      ],
      "id": "33a41361-b77f-4237-8440-22419a9fec49",
      "name": "Get All COA For Product",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "journal",
        "per_page": 10
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1344,
        576
      ],
      "id": "9d0a30cf-9b4e-4de6-82eb-342a6769f2fd",
      "name": "Get All Journals",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "journal",
        "operation": "create",
        "transaction_number": "=TRX-{{ Math.floor(Math.random() * 100000) }}",
        "date": "={{ new Date().toISOString() }}",
        "reference": "=REF-{{ Math.floor(Math.random() * 1000) }}",
        "force_posting": true,
        "description": "Journal Entry from n8n",
        "details": {
          "detail_item": [
            {
              "account_id": "={{ $('Get All COA').item.json.data.result.last().id }}",
              "description": "Debit Entry",
              "debit": 1000
            },
            {
              "account_id": "={{ $('Get All COA').item.json.data.result.last().id }}",
              "description": "Credit Entry",
              "credit": 1000
            }
          ]
        }
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1568,
        576
      ],
      "id": "61039d41-9310-41b7-b806-d4ee17451a11",
      "name": "Create Journal",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "journal",
        "operation": "get",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1792,
        576
      ],
      "id": "8fd390df-6e1f-4d12-a310-f358ae523966",
      "name": "Get Created Journal",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "journal",
        "operation": "update",
        "id": "={{ $json.data.id }}",
        "transaction_number": "={{ $json.data.transaction_number }}",
        "date": "={{ $json.data.date }}",
        "force_posting": true,
        "description": "Updated Journal Description",
        "details": {
          "detail_item": [
            {
              "account_id": "={{ $json.data.details[0].account.id }}",
              "description": "Updated Debit Entry",
              "debit": 1500
            },
            {
              "account_id": "={{ $json.data.details[1].account.id }}",
              "description": "Updated Credit Entry",
              "credit": 1500
            }
          ]
        }
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2016,
        576
      ],
      "id": "48e5c76e-2a37-4c71-bf64-19f3f5b1597d",
      "name": "Update Journal",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "journal",
        "operation": "delete",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2240,
        576
      ],
      "id": "83aa83e4-535e-48f9-b527-e6d71c292d55",
      "name": "Delete Journal",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "exchange"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1120,
        576
      ],
      "id": "02b55f25-1938-4730-90dd-2ca97ec1118d",
      "name": "Get All Currencies",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dev-workflow",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -448,
        288
      ],
      "id": "776c5392-2044-4db1-915d-d67ac5cfb3be",
      "name": "Webhook",
      "webhookId": "961a9f18-fc26-4ff8-abbb-57d9af5f9a95"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3f7e2eee-1d45-4e51-a0f8-835b1fc97b40",
              "name": "coa_name",
              "value": "=n8n-test-coa-{{ Math.floor(Math.random() * 100000) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        384
      ],
      "id": "84e52a2c-b091-4b37-b4e6-344852ffa848",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -448,
        480
      ],
      "id": "18e3b79d-3093-4884-8f01-95bc156bd609",
      "name": "Manual"
    }
  ],
  "pinData": {},
  "connections": {
    "Get current user": {
      "main": [
        [
          {
            "node": "Get user organizations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get user organizations": {
      "main": [
        [
          {
            "node": "Get All Units",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get COA Types",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get All Categories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Units": {
      "main": [
        [
          {
            "node": "Create Unit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Unit": {
      "main": [
        [
          {
            "node": "Get Created Unit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Created Unit": {
      "main": [
        [
          {
            "node": "Update Unit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Unit": {
      "main": [
        [
          {
            "node": "Delete Unit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All COA": {
      "main": [
        [
          {
            "node": "Get Created COA",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Tax",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get All Currencies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get COA Types": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create COA": {
      "main": [
        [
          {
            "node": "Get All COA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Created COA": {
      "main": [
        [
          {
            "node": "Update COA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update COA": {
      "main": [
        [
          {
            "node": "Delete COA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Tax": {
      "main": [
        [
          {
            "node": "Get Created Tax",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Tax": {
      "main": [
        [
          {
            "node": "Get All Tax",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Created Tax": {
      "main": [
        [
          {
            "node": "Update Tax",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Tax": {
      "main": [
        [
          {
            "node": "Delete Tax",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Products": {
      "main": [
        [
          {
            "node": "Get Created Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Product": {
      "main": [
        [
          {
            "node": "Get All Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Created Product": {
      "main": [
        [
          {
            "node": "Update Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Product": {
      "main": [
        [
          {
            "node": "Delete Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Categories": {
      "main": [
        [
          {
            "node": "Create Test Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Category": {
      "main": [
        [
          {
            "node": "Get All Units For Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Units For Product": {
      "main": [
        [
          {
            "node": "Create Test Unit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Unit": {
      "main": [
        [
          {
            "node": "Get All COA For Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All COA For Product": {
      "main": [
        [
          {
            "node": "Create Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Product": {
      "main": [
        []
      ]
    },
    "Get All Journals": {
      "main": [
        [
          {
            "node": "Create Journal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Journal": {
      "main": [
        [
          {
            "node": "Get Created Journal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Created Journal": {
      "main": [
        [
          {
            "node": "Update Journal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Journal": {
      "main": [
        [
          {
            "node": "Delete Journal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Currencies": {
      "main": [
        [
          {
            "node": "Get All Journals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get current user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Create COA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual": {
      "main": [
        [
          {
            "node": "Get current user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Jakarta",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "52bbd90a-30f1-4008-87e0-df940fc0f0ee",
  "meta": {
    "instanceId": "d0734ef49c6e31d3fe8e4f08b2f749b9a5f9bebb2abedda92821e4975833618c"
  },
  "id": "TbAZXjD_7jppym2hteRWc",
  "tags": []
}