dev-workflow.json
{
  "name": "Keloola Accounting Test Workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        928,
        2064
      ],
      "id": "7c36691b-fbc4-43bf-a401-4379f6c5ae5a",
      "name": "Get current user",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "organization"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1152,
        2064
      ],
      "id": "45f5900f-d696-49cd-9c8b-35f21dd0a83c",
      "name": "Get user organizations",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1376,
        240
      ],
      "id": "b35e0010-8b38-4b5b-babf-3e9cbc1128bc",
      "name": "Get All Units",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit",
        "operation": "create",
        "name": "n8n-unit"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1600,
        240
      ],
      "id": "a9fcda92-33fe-4f29-8be1-2abc52f57bf7",
      "name": "Create Unit",
      "alwaysOutputData": false,
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit",
        "operation": "get",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1824,
        240
      ],
      "id": "6fdead08-a7e6-4dc7-b40b-86c5aeabc6e3",
      "name": "Get Created Unit",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit",
        "operation": "update",
        "id": "={{ $json.data.id }}",
        "name": "=update-{{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2048,
        240
      ],
      "id": "1bf11799-f825-43d3-b134-62e61b3c6107",
      "name": "Update Unit",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit",
        "operation": "delete",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2272,
        240
      ],
      "id": "228641b1-c4d4-46db-9cad-0792e14a59c2",
      "name": "Delete Unit",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chartOfAccount",
        "search": "={{ $('Edit Fields').item.json.coa_name }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2048,
        528
      ],
      "id": "2549c5bc-5897-4375-88e6-5451db4b272e",
      "name": "Get All COA",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chartOfAccount",
        "operation": "getTypes"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1376,
        528
      ],
      "id": "2770480f-d116-4f90-825d-de7a8e3b634d",
      "name": "Get COA Types",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chartOfAccount",
        "operation": "create",
        "name": "={{ $json.coa_name }}",
        "code": "={{ Math.floor(Math.random() * 900000) + 100000 }}",
        "type": "={{ $('Get COA Types').item.json.data[0].id }}",
        "description": "Test COA from n8n"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1824,
        528
      ],
      "id": "ce58263d-8baa-4746-9ff2-2db260c0198b",
      "name": "Create COA",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chartOfAccount",
        "operation": "get",
        "id": "={{ $json.data.result.filter(c => c.balance.balance == 0).first().id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2272,
        432
      ],
      "id": "e8ee616e-fd2f-4e24-8963-a3b6806035f7",
      "name": "Get Created COA",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chartOfAccount",
        "operation": "update",
        "id": "={{ $json.data.id }}",
        "name": "=updated-{{ $json.data.name }}",
        "code": "={{ $json.data.code }}",
        "type": "={{ $json.data.type.id }}",
        "account": "={{ $json.data.parent_account?.id || '' }}",
        "description": "Updated from n8n"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2496,
        432
      ],
      "id": "8a312650-b490-4086-9061-bfe428b81c4f",
      "name": "Update COA",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chartOfAccount",
        "operation": "delete",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2720,
        432
      ],
      "id": "54af3e0d-8410-4b56-bd29-6ad1e3908ebd",
      "name": "Delete COA",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "tax"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2496,
        624
      ],
      "id": "decf8b60-2e07-492a-9dca-4d9c6aa3ad19",
      "name": "Get All Tax",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "tax",
        "operation": "create",
        "name": "n8n-test-tax",
        "rate": 10,
        "saleAccount": "={{ $('Get All COA').item.json.data.result[0].id }}",
        "purchaseAccount": "={{ $('Get All COA').item.json.data.result[0].id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2272,
        624
      ],
      "id": "718e4657-cc4e-47c5-b3d2-822cd6b4d75e",
      "name": "Create Tax",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "tax",
        "operation": "get",
        "id": "={{ $json.data.result[0].id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2720,
        624
      ],
      "id": "22331210-6a46-4942-bf16-6221c1a5ac2e",
      "name": "Get Created Tax",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "tax",
        "operation": "update",
        "id": "={{ $json.data.id }}",
        "name": "=updated-{{ $json.data.name }}",
        "rate": 15,
        "saleAccount": "={{ $json.data.sale_account.id }}",
        "purchaseAccount": "={{ $json.data.purchase_account.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2944,
        624
      ],
      "id": "994fc18e-b4d1-4d23-9de8-d4f1c1205d0a",
      "name": "Update Tax",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "tax",
        "operation": "delete",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        3168,
        624
      ],
      "id": "44ed4f13-6377-433c-a9fb-70fc6855ba2b",
      "name": "Delete Tax",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1376,
        1200
      ],
      "id": "d9801109-73c8-43a6-8bd4-6bc21aa78be3",
      "name": "Get All Categories",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1824,
        1200
      ],
      "id": "4196cd48-9a08-464a-bc90-ccef9830154a",
      "name": "Get All Units For Product",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product",
        "search": "={{ $('Edit Fields2').item.json.sku }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2944,
        1200
      ],
      "id": "ad472b29-4257-4945-9e29-4d286ceacb2b",
      "name": "Get All Products",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "create",
        "name": "=n8n-product-{{ Math.floor(Math.random() * 100000) }}",
        "sku": "={{ $json.sku }}",
        "category_id": "={{ $('Create Test Category').item.json.data.id }}",
        "unit_id": "={{ $('Create Test Unit').item.json.data.id }}",
        "sale_price": 1000,
        "purchase_price": 500,
        "purchase_account": "={{ $('Get All COA For Product').item.json.data.result[0].id }}",
        "sale_account": "={{ $('Get All COA For Product').item.json.data.result[0].id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2720,
        1200
      ],
      "id": "1771a16b-7846-44fc-90b1-cec213e735f6",
      "name": "Create Product",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "get",
        "id": "={{ $json.data.result[0].id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        3168,
        1200
      ],
      "id": "264b6743-93ef-4e23-89fd-58083372cf5f",
      "name": "Get Created Product",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "update",
        "id": "={{ $json.data.id }}",
        "name": "=updated-{{ $json.data.name }}",
        "sku": "={{ $json.data.sku }}",
        "category_id": "={{ $json.data.category.id }}",
        "unit_id": "={{ $json.data.unit.id }}",
        "description": "={{ $json.data.description }}",
        "sale_price": "={{ $json.data.sale_price.number }}",
        "purchase_price": "={{ $json.data.purchase_price.number }}",
        "purchase_account": "={{ $json.data.purchase_account?.id || $('Get All COA').item.json.data.result[0].id }}",
        "sale_account": "={{ $json.data.purchase_account?.id || $('Get All COA').item.json.data.result[0].id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        3392,
        1200
      ],
      "id": "195cd0c9-05c3-4489-9ae5-d126c2a531e3",
      "name": "Update Product",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "delete",
        "id": "={{ $('Get Created Product').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        3616,
        1200
      ],
      "id": "00cde62f-b1e7-4930-8ee3-2b664915abb8",
      "name": "Delete Product",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category",
        "operation": "create",
        "name": "=n8n-cat-{{Math.floor(Math.random() * 1000)}}",
        "color": "#ff0000"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1600,
        1200
      ],
      "id": "6d43465d-e97b-4431-ad5f-133b653894e1",
      "name": "Create Test Category",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit",
        "operation": "create",
        "name": "=U-{{Math.floor(Math.random() * 1000)}}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2048,
        1200
      ],
      "id": "12a8811f-3afe-4fbc-bf5f-c4f7363ad2ea",
      "name": "Create Test Unit",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chartOfAccount"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2272,
        1200
      ],
      "id": "a3817b09-780f-4cc3-befb-8f059bf669ae",
      "name": "Get All COA For Product",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "journal",
        "per_page": 10
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2496,
        816
      ],
      "id": "5cd96e12-af2c-497d-af76-b07dcbc5c153",
      "name": "Get All Journals",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "journal",
        "operation": "create",
        "transaction_number": "=TRX-{{ Math.floor(Math.random() * 100000) }}",
        "date": "={{ new Date().toISOString() }}",
        "reference": "=REF-{{ Math.floor(Math.random() * 1000) }}",
        "force_posting": true,
        "description": "Journal Entry from n8n",
        "details": {
          "detail_item": [
            {
              "account_id": "={{ $('Get All COA').item.json.data.result.last().id }}",
              "description": "Debit Entry",
              "debit": 1000
            },
            {
              "account_id": "={{ $('Get All COA').item.json.data.result.last().id }}",
              "description": "Credit Entry",
              "credit": 1000
            }
          ]
        }
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2720,
        816
      ],
      "id": "09a2bb68-217a-498c-a850-584574a93fb0",
      "name": "Create Journal",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "journal",
        "operation": "get",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2944,
        816
      ],
      "id": "15f8f5f3-eb78-428b-8227-9737e6effd64",
      "name": "Get Created Journal",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "journal",
        "operation": "update",
        "id": "={{ $json.data.id }}",
        "transaction_number": "={{ $json.data.transaction_number }}",
        "date": "={{ $json.data.date }}",
        "force_posting": true,
        "description": "Updated Journal Description",
        "details": {
          "detail_item": [
            {
              "account_id": "={{ $json.data.details[0].account.id }}",
              "description": "Updated Debit Entry",
              "debit": 1500
            },
            {
              "account_id": "={{ $json.data.details[1].account.id }}",
              "description": "Updated Credit Entry",
              "credit": 1500
            }
          ]
        }
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        3168,
        816
      ],
      "id": "841d260e-3e97-4289-aaa3-a3ce1d2bed6f",
      "name": "Update Journal",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "journal",
        "operation": "delete",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        3392,
        816
      ],
      "id": "700541ae-b059-4f3c-a05f-4ff00f88de1d",
      "name": "Delete Journal",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "exchange",
        "additionalFields": {}
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2272,
        816
      ],
      "id": "8122fbc9-0aaa-4c01-b723-154662d9f341",
      "name": "Get All Currencies",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3f7e2eee-1d45-4e51-a0f8-835b1fc97b40",
              "name": "coa_name",
              "value": "=n8n-test-coa-{{ Math.floor(Math.random() * 100000) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1600,
        528
      ],
      "id": "e7b4573d-7981-47aa-a6ac-85bfc27c0876",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        704,
        2064
      ],
      "id": "e6de45ef-a94f-4da4-8970-52bb679542a9",
      "name": "Manual"
    },
    {
      "parameters": {
        "resource": "purchaseQuote",
        "operation": "create",
        "transaction_date": "={{ $now.toISO().split(\"T\")[0] }}",
        "expiry_date": "={{ $now.plus(30, 'days').toISO().split(\"T\")[0] }}",
        "vendor": "={{ $('Create a contact').item.json.data.id }}",
        "products": {
          "item": [
            {
              "price": 100,
              "product_id": "={{ $json.data.result[0].id }}",
              "tax_id": "={{ \"\" }}",
              "unit_id": "={{ $('Create Test Unit1').item.json.data.id }}"
            }
          ]
        },
        "additionalFields": {}
      },
      "name": "Create Purchase Quote",
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        3616,
        1008
      ],
      "id": "f18e9768-6ee0-41bc-83c3-6f833d851101",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "purchaseQuote",
        "operation": "get",
        "id": "={{ $json.data.id }}"
      },
      "name": "Get Created Purchase Quote",
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        3840,
        1008
      ],
      "id": "ea46a161-6261-4b09-838d-654d234fd79d",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "purchaseQuote",
        "operation": "update",
        "id": "={{ $json.data.id }}",
        "transaction_date": "={{ new Date().toISOString().split(\"T\")[0] }}",
        "expiry_date": "={{ $now.plus(30, 'days').toISO().split(\"T\")[0] }}",
        "vendor": "={{ $json.data.contact.id }}",
        "products": {
          "item": [
            {
              "price": 100,
              "product_id": "={{ $json.data.purchase_items[0].product_id }}",
              "qty": 2,
              "tax_id": "={{ \"\" }}",
              "unit_id": "={{ $('Create Test Unit1').item.json.data.id }}"
            }
          ]
        },
        "additionalFields": {}
      },
      "name": "Update Purchase Quote",
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        4064,
        1008
      ],
      "id": "cb4c59e3-f87e-45ab-998d-76f11420a359",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "purchaseQuote",
        "operation": "delete",
        "id": "={{ $('Update Purchase Quote').item.json.data.id }}"
      },
      "name": "Delete Purchase Quote",
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        4512,
        1008
      ],
      "id": "e5b5e45d-3bff-4d48-b347-0c376abb074b",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1600,
        1008
      ],
      "id": "6a8d91a7-d338-4a77-b16f-85311f895109",
      "name": "Get All Products1",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "create",
        "contact_type": "vendor",
        "name": "N8N Vendor",
        "email": "n8n.vendor@keloola.com",
        "additionalFields": {}
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1376,
        1008
      ],
      "id": "a0280b20-54cd-4073-a24f-13592fd2c0e0",
      "name": "Create a contact",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1824,
        1008
      ],
      "id": "aaad2ca5-0249-43c4-adc1-6c47796be16f",
      "name": "Get All Categories1",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2272,
        1008
      ],
      "id": "499a91c1-f94b-43e8-adff-6cff474935d8",
      "name": "Get All Units For Product1",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product",
        "search": "={{ $('Edit Fields1').item.json.sku }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        3392,
        1008
      ],
      "id": "4b67ddb4-37de-4395-9929-a9292e02afd1",
      "name": "Get All Products2",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "create",
        "name": "=n8n-product-{{ Math.floor(Math.random() * 100000) }}",
        "sku": "={{ $json.sku }}",
        "category_id": "={{ $('Create Test Category1').item.json.data.id }}",
        "unit_id": "={{ $('Create Test Unit1').item.json.data.id }}",
        "sale_price": 1000,
        "purchase_price": 500,
        "purchase_account": "={{ $('Get All COA For Product1').item.json.data.result[0].id }}",
        "sale_account": "={{ $('Get All COA For Product1').item.json.data.result[0].id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        3168,
        1008
      ],
      "id": "a4fd6979-9cb4-4d39-983e-54cab68b00f0",
      "name": "Create Product1",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category",
        "operation": "create",
        "name": "=n8n-cat-{{Math.floor(Math.random() * 1000)}}",
        "color": "#ff0000"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2048,
        1008
      ],
      "id": "9f6d949f-c454-4c00-93eb-76c9f639b5a8",
      "name": "Create Test Category1",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit",
        "operation": "create",
        "name": "=U-{{Math.floor(Math.random() * 1000)}}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2496,
        1008
      ],
      "id": "099957c4-5820-4fb1-9d3b-4db2db44bebe",
      "name": "Create Test Unit1",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chartOfAccount"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2720,
        1008
      ],
      "id": "68c13cd0-6ff6-4e0a-9098-0c6130d580c6",
      "name": "Get All COA For Product1",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "purchaseQuote",
        "operation": "print",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        4288,
        1008
      ],
      "id": "16ed6c65-df96-417d-9dfe-25d283b359c9",
      "name": "Print purchase quote",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "delete",
        "id": "={{ $('Get All Products2').item.json.data.result[0].id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        4736,
        1008
      ],
      "id": "c08b072e-eaa2-4baf-9814-54d34609dca9",
      "name": "Delete a product",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit",
        "operation": "delete",
        "id": "={{ $('Create Test Unit1').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        4960,
        1008
      ],
      "id": "ff875908-8e29-49fa-add0-24f02d36cc2f",
      "name": "Delete a unit",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category",
        "operation": "delete",
        "id": "={{ $('Create Test Category1').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        5184,
        1008
      ],
      "id": "28f7caef-30d6-44f9-9bed-1d16fbb96eb5",
      "name": "Delete a category",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "delete",
        "contact_type": "vendor",
        "id": "={{ $('Create a contact').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        5408,
        1008
      ],
      "id": "e335f31e-bc05-4598-98aa-d97625729a1c",
      "name": "Delete a contact",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1600,
        1392
      ],
      "id": "f6c4f2a6-2fd6-4d94-a691-faf1bf2f767c",
      "name": "Get All Products3",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "create",
        "contact_type": "vendor",
        "name": "N8N Vendor",
        "email": "n8n.vendor@keloola.com",
        "additionalFields": {}
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1376,
        1392
      ],
      "id": "6e0cdcaa-6c1c-4eaa-8599-36ed778b5e41",
      "name": "Create a contact1",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1824,
        1392
      ],
      "id": "0afa043f-70c4-443d-96ae-416cf84f829a",
      "name": "Get All Categories2",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2272,
        1392
      ],
      "id": "333a5fb9-62da-48e0-813c-68fa5141a7fa",
      "name": "Get All Units For Product2",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product",
        "search": "={{ $('Edit Fields3').item.json.sku }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        3392,
        1392
      ],
      "id": "26cc37f6-374c-4bb4-923d-0b234107c541",
      "name": "Get All Products4",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "create",
        "name": "=n8n-product-{{ Math.floor(Math.random() * 100000) }}",
        "sku": "={{ $json.sku }}",
        "category_id": "={{ $('Create Test Category2').item.json.data.id }}",
        "unit_id": "={{ $('Create Test Unit2').item.json.data.id }}",
        "sale_price": 1000,
        "purchase_price": 500,
        "purchase_account": "={{ $('Get All COA For Product2').item.json.data.result[0].id }}",
        "sale_account": "={{ $('Get All COA For Product2').item.json.data.result[0].id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        3168,
        1392
      ],
      "id": "b322366a-94f0-42bd-86d2-1889b6f2cbd2",
      "name": "Create Product2",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category",
        "operation": "create",
        "name": "=n8n-cat-{{Math.floor(Math.random() * 1000)}}",
        "color": "#ff0000"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2048,
        1392
      ],
      "id": "a26f9ba5-6ecc-4b4c-b08d-84c635de9353",
      "name": "Create Test Category2",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit",
        "operation": "create",
        "name": "=U-{{Math.floor(Math.random() * 1000)}}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2496,
        1392
      ],
      "id": "f2ffcfcf-4f5c-4ec0-86a4-d7c7219e1d2f",
      "name": "Create Test Unit2",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chartOfAccount"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2720,
        1392
      ],
      "id": "3d1ea123-ef80-4bbf-ab93-3c3da09fe26e",
      "name": "Get All COA For Product2",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "purchaseOrder",
        "operation": "print",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        4288,
        1392
      ],
      "id": "fcbdc220-84bc-42f5-b74e-aec3fb37c6c0",
      "name": "Print purchase order",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "purchaseOrder",
        "operation": "create",
        "transaction_date": "={{ $now.toISO().split(\"T\")[0] }}",
        "expiry_date": "={{ $now.plus(30, 'days').toISO().split(\"T\")[0] }}",
        "vendor": "={{ $('Create a contact1').item.json.data.id }}",
        "products": {
          "item": [
            {
              "price": 500,
              "product_id": "={{ $json.data.result[0].id }}",
              "unit_id": "={{ $('Create Test Unit2').item.json.data.id }}"
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        3616,
        1392
      ],
      "id": "b2fc9b11-100e-4620-917d-def25ecd1682",
      "name": "Create a purchase order",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "purchaseOrder",
        "operation": "get",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        3840,
        1392
      ],
      "id": "4acb8b9a-96aa-4096-88cc-38fb61beb5af",
      "name": "Get a purchase order",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "purchaseOrder",
        "operation": "update",
        "id": "={{ $json.data.id }}",
        "transaction_date": "={{ $now.toISO().split(\"T\")[0] }}",
        "expiry_date": "={{ $now.plus(30, 'days').toISO().split(\"T\")[0] }}",
        "vendor": "={{ $('Create a contact1').item.json.data.id }}",
        "products": {
          "item": [
            {
              "product_id": "={{ $('Get All Products4').item.json.data.result[0].id }}",
              "unit_id": "={{ $('Get All Products4').item.json.data.result[0].unit.id }}"
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        4064,
        1392
      ],
      "id": "787d692f-cefe-409d-b494-3174a129c03f",
      "name": "Update a purchase order",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "purchaseOrder",
        "operation": "delete",
        "id": "={{ $('Update a purchase order').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        4512,
        1392
      ],
      "id": "37930bcf-b6db-425e-9d07-bc2b73154fa9",
      "name": "Delete a purchase order",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b3808df-fbec-42f9-8188-6219acb4363a",
              "name": "sku",
              "value": "=SKU-{{ Math.floor(Math.random() * 100000) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2944,
        1008
      ],
      "id": "d515995c-aa82-48b6-9ac5-89ef27aa8339",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b3808df-fbec-42f9-8188-6219acb4363a",
              "name": "sku",
              "value": "=SKU-{{ Math.floor(Math.random() * 100000) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2496,
        1200
      ],
      "id": "c6ef0882-f18e-4a29-8887-3fcf642f225b",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b3808df-fbec-42f9-8188-6219acb4363a",
              "name": "sku",
              "value": "=SKU-{{ Math.floor(Math.random() * 100000) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2944,
        1392
      ],
      "id": "a932e542-177b-4e2b-b0c0-ca1a5da45c39",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "delete",
        "id": "={{ $('Get All Products4').item.json.data.result[0].id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        4736,
        1392
      ],
      "id": "01512ddd-c138-4321-bbc0-c486537d3ec5",
      "name": "Delete a product1",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit",
        "operation": "delete",
        "id": "={{ $('Create Test Unit2').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        4960,
        1392
      ],
      "id": "86f81bf5-f3b9-41a3-a8a8-17fcd8a837f6",
      "name": "Delete a unit1",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category",
        "operation": "delete",
        "id": "={{ $('Create Test Category2').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        5184,
        1392
      ],
      "id": "0aea5ef1-61bc-4a60-a38e-f49bfedb1896",
      "name": "Delete a category1",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "delete",
        "contact_type": "vendor",
        "id": "={{ $('Create a contact1').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        5408,
        1392
      ],
      "id": "3224b2fe-8059-4f8e-9d13-bc1e2b1d5cb0",
      "name": "Delete a contact1",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "create",
        "contact_type": "vendor",
        "name": "N8N Vendor",
        "email": "n8n.vendor@keloola.com",
        "additionalFields": {}
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1376,
        1584
      ],
      "id": "013baac3-f635-4bce-894b-2a8883f4ef99",
      "name": "Create a contact2",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1600,
        1584
      ],
      "id": "9b1d9819-f0d4-4b3c-bbdd-2a571a8c2346",
      "name": "Get All Products5",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1824,
        1584
      ],
      "id": "63c3bf47-97b7-4e74-9348-5df1764d57fc",
      "name": "Get All Categories3",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category",
        "operation": "create",
        "name": "=n8n-cat-{{Math.floor(Math.random() * 1000)}}",
        "color": "#ff0000"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2048,
        1584
      ],
      "id": "cc8f9393-b108-4d2a-a79c-076fe2f0ef84",
      "name": "Create Test Category3",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2272,
        1584
      ],
      "id": "f42c0a16-0690-4411-a715-a45d06913d8d",
      "name": "Get All Units For Product3",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit",
        "operation": "create",
        "name": "=U-{{Math.floor(Math.random() * 1000)}}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2496,
        1584
      ],
      "id": "cc26719c-2c90-411d-8b29-99b8fd45a93b",
      "name": "Create Test Unit3",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chartOfAccount"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2720,
        1584
      ],
      "id": "93066ed3-f411-4963-82f2-bf7bf43997fb",
      "name": "Get All COA For Product3",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1b2c3d4-0001-0001-0001-00000000000e",
              "name": "sku",
              "value": "=SKU-{{ Math.floor(Math.random() * 100000) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2944,
        1584
      ],
      "id": "e9ed9864-7063-462a-8857-c63755cef7c7",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "create",
        "name": "=n8n-product-{{ Math.floor(Math.random() * 100000) }}",
        "sku": "={{ $json.sku }}",
        "category_id": "={{ $('Create Test Category3').item.json.data.id }}",
        "unit_id": "={{ $('Create Test Unit3').item.json.data.id }}",
        "sale_price": 1000,
        "purchase_price": 500,
        "purchase_account": "={{ $('Get All COA For Product3').item.json.data.result[0].id }}",
        "sale_account": "={{ $('Get All COA For Product3').item.json.data.result[0].id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        3168,
        1584
      ],
      "id": "c892f7b6-7f98-4f18-a84b-f6dd4c0113aa",
      "name": "Create Product3",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product",
        "search": "={{ $('Edit Fields4').item.json.sku }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        3392,
        1584
      ],
      "id": "8f907e6f-d800-41ce-a806-5f3490524e5f",
      "name": "Get All Products6",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "purchaseInvoice",
        "operation": "create",
        "transaction_date": "={{ $now.toISO().split(\"T\")[0] }}",
        "expiry_date": "={{ $now.plus(30, \"days\").toISO().split(\"T\")[0] }}",
        "due_date": "={{ $now.plus(30, 'days').toISO().split(\"T\")[0] }}",
        "vendor": "={{ $('Create a contact2').item.json.data.id }}",
        "products": {
          "item": [
            {
              "price": 500,
              "product_id": "={{ $json.data.result[0].id }}",
              "unit_id": "={{ $('Create Test Unit3').item.json.data.id }}"
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        3616,
        1584
      ],
      "id": "6c38ac4b-d6f9-435b-ac78-ecfba345bbfb",
      "name": "Create Purchase Invoice",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "purchaseInvoice",
        "operation": "get",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        3840,
        1584
      ],
      "id": "233332d5-e2d4-441b-babb-0955025770d6",
      "name": "Get Purchase Invoice",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "purchaseInvoice",
        "operation": "update",
        "id": "={{ $json.data.id }}",
        "transaction_date": "={{ $now.toISO().split(\"T\")[0] }}",
        "expiry_date": "={{ $now.plus(30, \"days\").toISO().split(\"T\")[0] }}",
        "due_date": "={{ $now.plus(30, 'days').toISO().split(\"T\")[0] }}",
        "vendor": "={{ $('Create a contact2').item.json.data.id }}",
        "products": {
          "item": [
            {
              "product_id": "={{ $('Get All Products6').item.json.data.result[0].id }}",
              "unit_id": "={{ $('Get All Products6').item.json.data.result[0].unit.id }}"
            }
          ]
        },
        "additionalFields": {
          "currency": "",
          "email": ""
        }
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        4064,
        1584
      ],
      "id": "3f706506-65db-4089-a0b8-0cd889286e2c",
      "name": "Update Purchase Invoice",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "purchaseInvoice",
        "operation": "print",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        4288,
        1584
      ],
      "id": "070aaf52-a1c0-44e7-a23b-779e151fa564",
      "name": "Print Purchase Invoice",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "purchaseInvoice",
        "operation": "delete",
        "id": "={{ $('Update Purchase Invoice').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        4512,
        1584
      ],
      "id": "ec6e5c32-ab3a-4fc5-8c69-557f72c8f50d",
      "name": "Delete Purchase Invoice",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "delete",
        "id": "={{ $('Get All Products6').item.json.data.result[0].id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        4736,
        1584
      ],
      "id": "085bc5b3-aa73-40a7-8d87-48a9b77d9e2d",
      "name": "Delete a product2",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit",
        "operation": "delete",
        "id": "={{ $('Create Test Unit3').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        4960,
        1584
      ],
      "id": "49e999ae-a122-4aa3-a9d4-ad8c0769098f",
      "name": "Delete a unit2",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category",
        "operation": "delete",
        "id": "={{ $('Create Test Category3').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        5184,
        1584
      ],
      "id": "64e08d8f-8e4a-4fc7-8874-2c1d59a220cb",
      "name": "Delete a category2",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "delete",
        "contact_type": "vendor",
        "id": "={{ $('Create a contact2').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        5408,
        1584
      ],
      "id": "f81aa3ea-893e-4678-9ba8-fa080ccb4f56",
      "name": "Delete a contact2",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "create",
        "name": "N8N Customer SQ",
        "email": "n8n.customer.sq@keloola.com",
        "additionalFields": {}
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1376,
        1968
      ],
      "id": "cfe04d79-9a95-45cd-a04b-f870c7eba82d",
      "name": "Create Customer SQ",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1600,
        1968
      ],
      "id": "c2a4ee6a-c1aa-4eed-b2c4-b5dacc9b7a2d",
      "name": "Get All Products SQ",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1824,
        1968
      ],
      "id": "a038a89a-41d5-4ea8-a8b4-002e4197f6bf",
      "name": "Get All Categories SQ",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category",
        "operation": "create",
        "name": "=n8n-cat-{{Math.floor(Math.random() * 1000)}}",
        "color": "#00ff00"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2048,
        1968
      ],
      "id": "6be6a3b8-c1f4-4f7a-9287-f84fa44cdb1f",
      "name": "Create Test Category SQ",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2272,
        1968
      ],
      "id": "fc043297-8bfe-4eee-b9fb-c3820cf64829",
      "name": "Get All Units SQ",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit",
        "operation": "create",
        "name": "=U-{{Math.floor(Math.random() * 1000)}}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2496,
        1968
      ],
      "id": "63fcfc9f-2001-47f3-a580-bf1a287546e3",
      "name": "Create Test Unit SQ",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chartOfAccount"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2720,
        1968
      ],
      "id": "ae040d67-66f4-4d94-9e6e-89b15e084bfd",
      "name": "Get All COA SQ",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1b2c3d4-0002-0001-0001-00000000000e",
              "name": "sku",
              "value": "=SKU-{{ Math.floor(Math.random() * 100000) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2944,
        1968
      ],
      "id": "0d8f90bb-ea15-4d84-89ab-ada43242fdcf",
      "name": "Edit Fields SQ"
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "create",
        "name": "=n8n-product-{{ Math.floor(Math.random() * 100000) }}",
        "sku": "={{ $json.sku }}",
        "category_id": "={{ $('Create Test Category SQ').item.json.data.id }}",
        "unit_id": "={{ $('Create Test Unit SQ').item.json.data.id }}",
        "sale_price": 1000,
        "purchase_price": 500,
        "purchase_account": "={{ $('Get All COA SQ').item.json.data.result[0].id }}",
        "sale_account": "={{ $('Get All COA SQ').item.json.data.result[0].id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        3168,
        1968
      ],
      "id": "5deaee3e-1b73-438d-a014-afad74072b44",
      "name": "Create Product SQ",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product",
        "search": "={{ $('Edit Fields SQ').item.json.sku }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        3392,
        1968
      ],
      "id": "1a6671fb-f7f2-4379-b5cf-689c329c5b00",
      "name": "Get All Products SQ2",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "salesQuote",
        "operation": "create",
        "transaction_date": "={{ $now.toISO().split(\"T\")[0] }}",
        "expiry_date": "={{ $now.plus(30, 'days').toISO().split(\"T\")[0] }}",
        "customer": "={{ $('Create Customer SQ').item.json.data.id }}",
        "products": {
          "item": [
            {
              "price": 100,
              "product_id": "={{ $json.data.result[0].id }}",
              "tax_id": "={{ \"\" }}",
              "unit_id": "={{ $('Create Test Unit SQ').item.json.data.id }}"
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        3616,
        1968
      ],
      "id": "41e1079f-8f57-4ab7-8288-08a7ecb2e60e",
      "name": "Create Sales Quote",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "salesQuote",
        "operation": "get",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        3840,
        1968
      ],
      "id": "845bbc67-6a99-4141-9e7d-31749379d7f5",
      "name": "Get Sales Quote",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "salesQuote",
        "operation": "update",
        "id": "={{ $json.data.id }}",
        "transaction_date": "={{ $now.toISO().split(\"T\")[0] }}",
        "expiry_date": "={{ $now.plus(30, 'days').toISO().split(\"T\")[0] }}",
        "customer": "={{ $('Create Customer SQ').item.json.data.id }}",
        "products": {
          "item": [
            {
              "price": 200,
              "product_id": "={{ $('Get All Products SQ2').item.json.data.result[0].id }}",
              "qty": 2,
              "tax_id": "={{ \"\" }}",
              "unit_id": "={{ $('Create Test Unit SQ').item.json.data.id }}"
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        4064,
        1968
      ],
      "id": "a3c20b09-feb1-4e27-85bd-97a1a26e696f",
      "name": "Update Sales Quote",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "salesQuote",
        "operation": "print",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        4288,
        1968
      ],
      "id": "ed57da26-4e12-4971-8188-8122d959f081",
      "name": "Print Sales Quote",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "salesQuote",
        "operation": "delete",
        "id": "={{ $('Update Sales Quote').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        4512,
        1968
      ],
      "id": "134d4225-61d4-4f8d-8410-c9fbed723dc2",
      "name": "Delete Sales Quote",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "delete",
        "id": "={{ $('Get All Products SQ2').item.json.data.result[0].id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        4736,
        1968
      ],
      "id": "29471425-eb99-4b51-953a-b73803e95039",
      "name": "Delete Product SQ",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit",
        "operation": "delete",
        "id": "={{ $('Create Test Unit SQ').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        4960,
        1968
      ],
      "id": "ec4974a4-91ba-4e3d-a4f9-0d5a5e303446",
      "name": "Delete Unit SQ",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category",
        "operation": "delete",
        "id": "={{ $('Create Test Category SQ').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        5184,
        1968
      ],
      "id": "812bd672-bd1d-40d4-967d-0595801e4d0b",
      "name": "Delete Category SQ",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "delete",
        "id": "={{ $('Create Customer SQ').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        5408,
        1968
      ],
      "id": "137f2d05-6fae-4151-95e5-7a4104287635",
      "name": "Delete Customer SQ",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "create",
        "name": "N8N Customer SO",
        "email": "n8n.customer.so@keloola.com",
        "additionalFields": {}
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1376,
        2160
      ],
      "id": "e020f56a-147c-4b0f-a11d-1bfb713c8620",
      "name": "Create Customer SO",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1600,
        2160
      ],
      "id": "53f1b401-2ff2-4111-966c-0caec4e1ba52",
      "name": "Get All Products SO",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1824,
        2160
      ],
      "id": "32900c4f-5afc-4418-920a-e610e95932eb",
      "name": "Get All Categories SO",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category",
        "operation": "create",
        "name": "=n8n-cat-{{Math.floor(Math.random() * 1000)}}",
        "color": "#0000ff"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2048,
        2160
      ],
      "id": "6cf65b6e-f48c-45b7-8f78-ec9514aeed2d",
      "name": "Create Test Category SO",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2272,
        2160
      ],
      "id": "fbd46140-ba44-4d7c-a1ca-33f65c784925",
      "name": "Get All Units SO",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit",
        "operation": "create",
        "name": "=U-{{Math.floor(Math.random() * 1000)}}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2496,
        2160
      ],
      "id": "7c13317e-f4c4-45fe-ad09-f7941acca89e",
      "name": "Create Test Unit SO",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chartOfAccount"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2720,
        2160
      ],
      "id": "65185410-4aed-449e-a72a-4157378de580",
      "name": "Get All COA SO",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1b2c3d4-0003-0001-0001-00000000000e",
              "name": "sku",
              "value": "=SKU-{{ Math.floor(Math.random() * 100000) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2944,
        2160
      ],
      "id": "5d2ddf39-38bb-4b9e-b411-75f13c88bae1",
      "name": "Edit Fields SO"
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "create",
        "name": "=n8n-product-{{ Math.floor(Math.random() * 100000) }}",
        "sku": "={{ $json.sku }}",
        "category_id": "={{ $('Create Test Category SO').item.json.data.id }}",
        "unit_id": "={{ $('Create Test Unit SO').item.json.data.id }}",
        "sale_price": 1000,
        "purchase_price": 500,
        "purchase_account": "={{ $('Get All COA SO').item.json.data.result[0].id }}",
        "sale_account": "={{ $('Get All COA SO').item.json.data.result[0].id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        3168,
        2160
      ],
      "id": "d2d72822-1552-4a40-932f-c910728e46cc",
      "name": "Create Product SO",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product",
        "search": "={{ $('Edit Fields SO').item.json.sku }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        3392,
        2160
      ],
      "id": "5ec4ad0e-fc71-4015-a14d-bcae6d66fc20",
      "name": "Get All Products SO2",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "salesOrder",
        "operation": "create",
        "transaction_date": "={{ $now.toISO().split(\"T\")[0] }}",
        "expiry_date": "={{ $now.plus(30, 'days').toISO().split(\"T\")[0] }}",
        "customer": "={{ $('Create Customer SO').item.json.data.id }}",
        "products": {
          "item": [
            {
              "price": 500,
              "product_id": "={{ $json.data.result[0].id }}",
              "unit_id": "={{ $('Create Test Unit SO').item.json.data.id }}"
            }
          ]
        },
        "additionalFields": {
          "currency": "a13bb923-87e3-4df8-a78c-c54dc6bcf08e"
        }
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        3616,
        2160
      ],
      "id": "2557eab2-85e7-4be5-aad3-821424a7aca5",
      "name": "Create Sales Order",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "salesOrder",
        "operation": "get",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        3840,
        2160
      ],
      "id": "aeb15956-0f2a-4749-88e9-cd7c3de1405b",
      "name": "Get Sales Order",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "salesOrder",
        "operation": "update",
        "id": "={{ $json.data.id }}",
        "transaction_date": "={{ $now.toISO().split(\"T\")[0] }}",
        "expiry_date": "={{ $now.plus(30, 'days').toISO().split(\"T\")[0] }}",
        "customer": "={{ $('Create Customer SO').item.json.data.id }}",
        "products": {
          "item": [
            {
              "product_id": "={{ $('Get All Products SO2').item.json.data.result[0].id }}",
              "unit_id": "={{ $('Get All Products SO2').item.json.data.result[0].unit.id }}"
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        4064,
        2160
      ],
      "id": "60615bc2-2928-44e5-a8eb-b2b99f9fc99e",
      "name": "Update Sales Order",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "salesOrder",
        "operation": "print",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        4288,
        2160
      ],
      "id": "f1324489-ef81-4cf5-a893-90647e18a3e9",
      "name": "Print Sales Order",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "salesOrder",
        "operation": "delete",
        "id": "={{ $('Update Sales Order').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        4512,
        2160
      ],
      "id": "2472ffbc-3c8d-4e21-b913-731e2becb834",
      "name": "Delete Sales Order",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "delete",
        "id": "={{ $('Get All Products SO2').item.json.data.result[0].id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        4736,
        2160
      ],
      "id": "955dc3e9-c961-4a70-bf95-291daac00f7d",
      "name": "Delete Product SO",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit",
        "operation": "delete",
        "id": "={{ $('Create Test Unit SO').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        4960,
        2160
      ],
      "id": "4d8542a0-cf46-495b-a438-2597d0160034",
      "name": "Delete Unit SO",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category",
        "operation": "delete",
        "id": "={{ $('Create Test Category SO').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        5184,
        2160
      ],
      "id": "b6886233-775b-4a00-9e3e-8d18a4ea53c4",
      "name": "Delete Category SO",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "delete",
        "id": "={{ $('Create Customer SO').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        5408,
        2160
      ],
      "id": "406ce247-091f-473d-a3df-1544f99175f1",
      "name": "Delete Customer SO",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "create",
        "name": "N8N Customer SD",
        "email": "n8n.customer.sd@keloola.com",
        "additionalFields": {}
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1376,
        2352
      ],
      "id": "bd93c08e-4b44-4dc0-b84d-2063763e9bfa",
      "name": "Create Customer SD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1600,
        2352
      ],
      "id": "9a1d9e2f-b6ae-43a7-bd20-4223a562f944",
      "name": "Get All Products SD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1824,
        2352
      ],
      "id": "6279cf70-dc75-46c1-86ea-b91b77af8c77",
      "name": "Get All Categories SD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category",
        "operation": "create",
        "name": "=n8n-cat-{{Math.floor(Math.random() * 1000)}}",
        "color": "#ff00ff"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2048,
        2352
      ],
      "id": "fa8fae54-12cb-4357-9fb9-71371b27b3be",
      "name": "Create Test Category SD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2272,
        2352
      ],
      "id": "690db2e3-0188-48a4-b1f3-11ede0605ac2",
      "name": "Get All Units SD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit",
        "operation": "create",
        "name": "=U-{{Math.floor(Math.random() * 1000)}}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2496,
        2352
      ],
      "id": "b36158fb-a3a2-4abf-99a9-0615999deb46",
      "name": "Create Test Unit SD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chartOfAccount"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2720,
        2352
      ],
      "id": "1caf1f0f-8283-4a6a-889f-ec26184d4e7c",
      "name": "Get All COA SD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1b2c3d4-0004-0001-0001-00000000000e",
              "name": "sku",
              "value": "=SKU-{{ Math.floor(Math.random() * 100000) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2944,
        2352
      ],
      "id": "a500e67b-f0ee-4b3b-9a5c-78aa341eb8a2",
      "name": "Edit Fields SD"
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "create",
        "name": "=n8n-product-{{ Math.floor(Math.random() * 100000) }}",
        "sku": "={{ $json.sku }}",
        "category_id": "={{ $('Create Test Category SD').item.json.data.id }}",
        "unit_id": "={{ $('Create Test Unit SD').item.json.data.id }}",
        "sale_price": 1000,
        "purchase_price": 500,
        "purchase_account": "={{ $('Get All COA SD').item.json.data.result[0].id }}",
        "sale_account": "={{ $('Get All COA SD').item.json.data.result[0].id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        3168,
        2352
      ],
      "id": "87f381e6-ccc7-417d-bce6-ce8547312f29",
      "name": "Create Product SD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product",
        "search": "={{ $('Edit Fields SD').item.json.sku }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        3392,
        2352
      ],
      "id": "4ae46152-bcda-4445-bf42-111531a7fad2",
      "name": "Get All Products SD2",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "salesDelivery",
        "operation": "create",
        "transaction_date": "={{ $now.toISO().split(\"T\")[0] }}",
        "shipping_date": "={{ $now.toISO().split(\"T\")[0] }}",
        "expiry_date": "={{ $now.plus(30, \"days\").toISO().split(\"T\")[0] }}",
        "order_id": "={{ $(\"Create SO for SD\").item.json.data.id }}",
        "customer": "={{ $(\"Create Customer SD\").item.json.data.id }}",
        "products": {
          "item": [
            {
              "price": 500,
              "product_id": "={{ $json.data.sale_items[0].product_id }}",
              "sale_item_id": "={{ $json.data.sale_items[0].id }}",
              "unit_id": "={{ $(\"Create Test Unit SD\").item.json.data.id }}"
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        4064,
        2352
      ],
      "id": "4c72c871-15af-4e4d-8fab-3a8a6ebd3581",
      "name": "Create Sales Delivery",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "salesDelivery",
        "operation": "get",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        4288,
        2352
      ],
      "id": "bf38c3a2-7aea-49d1-98f7-69bbd61ca23c",
      "name": "Get Sales Delivery",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "salesDelivery",
        "operation": "update",
        "id": "={{ $json.data.id }}",
        "transaction_date": "={{ $now.toISO().split(\"T\")[0] }}",
        "shipping_date": "={{ $now.toISO().split(\"T\")[0] }}",
        "expiry_date": "={{ $now.plus(30, \"days\").toISO().split(\"T\")[0] }}",
        "order_id": "={{ $(\"Create SO for SD\").item.json.data.id }}",
        "customer": "={{ $(\"Create Customer SD\").item.json.data.id }}",
        "products": {
          "item": [
            {
              "product_id": "={{ $(\"Get SO for SD\").item.json.data.sale_items[0].product_id }}",
              "sale_item_id": "={{ $(\"Get SO for SD\").item.json.data.sale_items[0].id }}",
              "unit_id": "={{ $(\"Create Test Unit SD\").item.json.data.id }}"
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        4512,
        2352
      ],
      "id": "40840bc8-56c8-463e-be7f-a3f6cd454524",
      "name": "Update Sales Delivery",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "salesDelivery",
        "operation": "delete",
        "id": "={{ $('Update Sales Delivery').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        4736,
        2352
      ],
      "id": "3310f222-fdfa-4cde-b5d9-b5ffd45e1e39",
      "name": "Delete Sales Delivery",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "delete",
        "id": "={{ $('Get All Products SD2').item.json.data.result[0].id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        5184,
        2352
      ],
      "id": "82fa85e6-2aea-4a5e-b820-748f9aa5b439",
      "name": "Delete Product SD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit",
        "operation": "delete",
        "id": "={{ $('Create Test Unit SD').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        5408,
        2352
      ],
      "id": "8de37f32-45be-4451-bef1-ae887911c200",
      "name": "Delete Unit SD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category",
        "operation": "delete",
        "id": "={{ $('Create Test Category SD').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        5632,
        2352
      ],
      "id": "71f447a0-88f7-467a-8efb-6cda33fe0066",
      "name": "Delete Category SD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "delete",
        "id": "={{ $('Create Customer SD').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        5856,
        2352
      ],
      "id": "c691559f-cc0a-4564-8b5f-4da5053dd385",
      "name": "Delete Customer SD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "create",
        "name": "N8N Customer SI",
        "email": "n8n.customer.si@keloola.com",
        "additionalFields": {}
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1376,
        2544
      ],
      "id": "a842b895-2efc-4e38-90d2-834f28d28055",
      "name": "Create Customer SI",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1600,
        2544
      ],
      "id": "1ab19b33-49e6-4382-b01b-6fd89dab62d1",
      "name": "Get All Products SI",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1824,
        2544
      ],
      "id": "5cbf2d2d-d321-490a-923b-91841c918b08",
      "name": "Get All Categories SI",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category",
        "operation": "create",
        "name": "=n8n-cat-{{Math.floor(Math.random() * 1000)}}",
        "color": "#ffff00"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2048,
        2544
      ],
      "id": "53d1c0ef-d3f5-4e90-ac0f-b73e1b8e6a8e",
      "name": "Create Test Category SI",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2272,
        2544
      ],
      "id": "3619b6d0-1c36-4467-800a-bb857494566c",
      "name": "Get All Units SI",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit",
        "operation": "create",
        "name": "=U-{{Math.floor(Math.random() * 1000)}}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2496,
        2544
      ],
      "id": "a85c7808-e374-4981-b526-404fc852dd77",
      "name": "Create Test Unit SI",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chartOfAccount"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2720,
        2544
      ],
      "id": "b281c77f-7838-4fcb-b84c-6ce1e840bd99",
      "name": "Get All COA SI",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1b2c3d4-0005-0001-0001-00000000000e",
              "name": "sku",
              "value": "=SKU-{{ Math.floor(Math.random() * 100000) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2944,
        2544
      ],
      "id": "119b537f-fe2a-46f5-a9fa-5fb20561b05f",
      "name": "Edit Fields SI"
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "create",
        "name": "=n8n-product-{{ Math.floor(Math.random() * 100000) }}",
        "sku": "={{ $json.sku }}",
        "category_id": "={{ $('Create Test Category SI').item.json.data.id }}",
        "unit_id": "={{ $('Create Test Unit SI').item.json.data.id }}",
        "sale_price": 1000,
        "purchase_price": 500,
        "purchase_account": "={{ $('Get All COA SI').item.json.data.result[0].id }}",
        "sale_account": "={{ $('Get All COA SI').item.json.data.result[0].id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        3168,
        2544
      ],
      "id": "7337539f-204f-41e9-bba2-b95396373363",
      "name": "Create Product SI",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product",
        "search": "={{ $('Edit Fields SI').item.json.sku }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        3392,
        2544
      ],
      "id": "1c804185-39bb-4232-8852-9c5c95b12b45",
      "name": "Get All Products SI2",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "salesInvoice",
        "operation": "create",
        "transaction_date": "={{ $now.toISO().split(\"T\")[0] }}",
        "expiry_date": "={{ $now.plus(30, \"days\").toISO().split(\"T\")[0] }}",
        "due_date": "={{ $now.plus(30, 'days').toISO().split(\"T\")[0] }}",
        "customer": "={{ $('Create Customer SI').item.json.data.id }}",
        "products": {
          "item": [
            {
              "price": 500,
              "product_id": "={{ $json.data.result[0].id }}",
              "unit_id": "={{ $('Create Test Unit SI').item.json.data.id }}"
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        3616,
        2544
      ],
      "id": "25b1e21c-4ab9-4f3c-bb4c-9b7b51423344",
      "name": "Create Sales Invoice",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "salesInvoice",
        "operation": "get",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        3840,
        2544
      ],
      "id": "5a0f19b0-2097-4e97-aee7-95b20a1d602b",
      "name": "Get Sales Invoice",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "salesInvoice",
        "operation": "update",
        "id": "={{ $json.data.id }}",
        "transaction_date": "={{ $now.toISO().split(\"T\")[0] }}",
        "expiry_date": "={{ $now.plus(30, \"days\").toISO().split(\"T\")[0] }}",
        "due_date": "={{ $now.plus(30, 'days').toISO().split(\"T\")[0] }}",
        "customer": "={{ $('Create Customer SI').item.json.data.id }}",
        "products": {
          "item": [
            {
              "product_id": "={{ $('Get All Products SI2').item.json.data.result[0].id }}",
              "unit_id": "={{ $('Get All Products SI2').item.json.data.result[0].unit.id }}"
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        4064,
        2544
      ],
      "id": "70f1aa95-fb98-4cf1-9fdb-1695b15087de",
      "name": "Update Sales Invoice",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "salesInvoice",
        "operation": "print",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        4288,
        2544
      ],
      "id": "a32db036-6b25-47d7-a9c9-bde4f3670f3c",
      "name": "Print Sales Invoice",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "salesInvoice",
        "operation": "delete",
        "id": "={{ $('Update Sales Invoice').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        4512,
        2544
      ],
      "id": "1f5b315a-547f-467b-a525-1f26880ef6b0",
      "name": "Delete Sales Invoice",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "delete",
        "id": "={{ $('Get All Products SI2').item.json.data.result[0].id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        4736,
        2544
      ],
      "id": "bd680f52-4bd5-44e7-a3d4-6e5986ddbfbd",
      "name": "Delete Product SI",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit",
        "operation": "delete",
        "id": "={{ $('Create Test Unit SI').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        4960,
        2544
      ],
      "id": "d86285e1-f070-464f-ab50-f62db0acbdbe",
      "name": "Delete Unit SI",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category",
        "operation": "delete",
        "id": "={{ $('Create Test Category SI').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        5184,
        2544
      ],
      "id": "3b42ffb5-f67e-494f-b5d8-a741faa92e70",
      "name": "Delete Category SI",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "delete",
        "id": "={{ $('Create Customer SI').item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        5408,
        2544
      ],
      "id": "e6e6561c-7d28-4efd-9e20-1a773533131a",
      "name": "Delete Customer SI",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "salesOrder",
        "operation": "create",
        "transaction_date": "={{ $now.toISO().split(\"T\")[0] }}",
        "expiry_date": "={{ $now.plus(30, \"days\").toISO().split(\"T\")[0] }}",
        "customer": "={{ $(\"Create Customer SD\").item.json.data.id }}",
        "products": {
          "item": [
            {
              "price": 500,
              "product_id": "={{ $json.data.result[0].id }}",
              "unit_id": "={{ $(\"Create Test Unit SD\").item.json.data.id }}"
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        3616,
        2352
      ],
      "id": "1b6b5899-cd11-4150-a09f-16a3330b053a",
      "name": "Create SO for SD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "salesOrder",
        "operation": "get",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        3840,
        2352
      ],
      "id": "f0dc2d4a-d910-480d-b24c-691059311bc7",
      "name": "Get SO for SD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "salesOrder",
        "operation": "delete",
        "id": "={{ $(\"Create SO for SD\").item.json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        4960,
        2352
      ],
      "id": "45e90408-91c6-4735-bd8d-a1b0a75f3b81",
      "name": "Delete SO for SD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "create",
        "contact_type": "vendor",
        "name": "N8N Vendor PD",
        "email": "n8n.vendor.pd@keloola.com",
        "additionalFields": {}
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1376,
        1776
      ],
      "id": "251f4a69-b53a-4947-ac27-3e40363db34c",
      "name": "Create Vendor PD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1600,
        1776
      ],
      "id": "810d020f-635c-43d9-af0d-c24190010588",
      "name": "Get All Categories PD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "category",
        "operation": "create",
        "name": "=n8n-cat-{{Math.floor(Math.random() * 1000)}}",
        "color": "#00ffff"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1824,
        1776
      ],
      "id": "433c955d-5097-432f-98a6-4ce7310cca56",
      "name": "Create Test Category PD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2048,
        1776
      ],
      "id": "295fb52d-3f6d-46bf-8704-ca94a6779452",
      "name": "Get All Units PD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit",
        "operation": "create",
        "name": "=U-{{Math.floor(Math.random() * 1000)}}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2272,
        1776
      ],
      "id": "ff7fbb99-0ebb-4246-b409-bd5efb325123",
      "name": "Create Test Unit PD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chartOfAccount"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2496,
        1776
      ],
      "id": "9b0e8edf-369b-4d8f-b5ca-65e82e020536",
      "name": "Get All COA PD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1c2c3d4-0006-0001-0001-00000000000e",
              "name": "sku",
              "value": "=SKU-{{ Math.floor(Math.random() * 100000) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2720,
        1776
      ],
      "id": "42bc07ac-672b-4095-9b1e-73271a1b0a75",
      "name": "Edit Fields PD"
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "create",
        "name": "=n8n-product-{{ Math.floor(Math.random() * 100000) }}",
        "sku": "={{ $json.sku }}",
        "category_id": "={{ $('Create Test Category PD').item.json.data.id }}",
        "unit_id": "={{ $('Create Test Unit PD').item.json.data.id }}",
        "sale_price": 1000,
        "purchase_price": 500,
        "purchase_account": "={{ $('Get All COA PD').item.json.data.result[0].id }}",
        "sale_account": "={{ $('Get All COA PD').item.json.data.result[0].id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2944,
        1776
      ],
      "id": "16a86cc7-cca8-4d16-9c09-319427d42243",
      "name": "Create Product PD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product",
        "search": "={{ $('Edit Fields PD').item.json.sku }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        3168,
        1776
      ],
      "id": "fd47664d-2963-488f-8267-ba71638bbbcb",
      "name": "Get All Products PD2",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "purchaseOrder",
        "operation": "create",
        "transaction_date": "={{ $now.toISO().split(\"T\")[0] }}",
        "expiry_date": "={{ $now.plus(30, 'days').toISO().split(\"T\")[0] }}",
        "vendor": "={{ $('Create Vendor PD').item.json.data.id }}",
        "products": {
          "item": [
            {
              "price": 500,
              "product_id": "={{ $json.data.result[0].id }}",
              "qty": 5,
              "unit_id": "={{ $('Create Test Unit PD').item.json.data.id }}"
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        3392,
        1776
      ],
      "id": "095a5d92-13b9-4e9c-9d10-9f88ba6e2c4a",
      "name": "Create PO for PD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "purchaseOrder",
        "operation": "get",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        3616,
        1776
      ],
      "id": "9b11c26e-6372-43e6-8107-f032c232d2c6",
      "name": "Get PO for PD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "purchaseDelivery",
        "operation": "create",
        "order_id": "={{ $json.data.id }}",
        "vendor": "={{ $('Create Vendor PD').item.json.data.id }}",
        "shipping_date": "={{ $now.toISO().split(\"T\")[0] }}",
        "arrival_date": "={{ $now.plus(7, \"days\").toISO().split(\"T\")[0] }}",
        "tracking_number": "=TRK-{{ Math.floor(Math.random() * 100000) }}",
        "products": {
          "item": [
            {
              "purchase_item_id": "={{ $json.data.purchase_items[0].id }}",
              "product_id": "={{ $json.data.purchase_items[0].product_id }}",
              "qty": 5
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        3840,
        1776
      ],
      "id": "4a95d4ab-8431-41d0-8d38-174270ee6699",
      "name": "Create Purchase Delivery",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "purchaseDelivery",
        "operation": "get",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        4064,
        1776
      ],
      "id": "86148cd0-66a8-4f12-b7b3-cbe9a8ade037",
      "name": "Get Purchase Delivery",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "purchaseGoodReceiveNote",
        "operation": "create",
        "purchase_id": "={{ $json.data.id }}",
        "received_date": "={{ $now.toISO().split(\"T\")[0] }}",
        "stock_officer_id": "={{ $('Get user organizations').item.json.data.id }}",
        "products": {
          "item": [
            {
              "product_id": "={{ $json.data.purchase_items[0].product_id }}",
              "received_qty": 5
            }
          ]
        }
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        4288,
        1776
      ],
      "id": "54abc6fa-310d-45da-9eb7-94c6fafdf47b",
      "name": "Create GRN from PD",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "purchaseGoodReceiveNote",
        "operation": "get",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        4512,
        1776
      ],
      "id": "021c02b7-7f83-4764-b471-0179366a6cec",
      "name": "Get Created GRN",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "bankAccount"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1376,
        2832
      ],
      "id": "1ff635cf-a9bf-4eba-a548-79fcf7e08bd1",
      "name": "Get All Bank Accounts",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "create",
        "contact_type": "vendor",
        "name": "=N8N Bank Contact {{ Math.floor(Math.random() * 1000) }}",
        "email": "n8n.bank@keloola.com",
        "additionalFields": {}
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1600,
        2832
      ],
      "id": "bd625d11-e5c0-434b-9955-907b93e26b84",
      "name": "Create Bank Contact",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "exchange",
        "additionalFields": {
          "exclude_base": false
        }
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1824,
        2832
      ],
      "id": "344731fb-0eae-4251-9b7c-19d1c040b9fd",
      "name": "Get All Currencies for Banking",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "tax"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2048,
        2832
      ],
      "id": "125ac581-a94f-4ce5-8b04-ac4c814b1174",
      "name": "Get All Taxes for Banking",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chartOfAccount"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2272,
        2832
      ],
      "id": "4f2be8eb-4a89-42e9-9f36-9187854172ad",
      "name": "Get COA for Banking",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "bankIncome",
        "bankAccountId": "={{ $('Get All Bank Accounts').item.json.data.result.first().id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2496,
        2736
      ],
      "id": "696fbb9d-ebd9-4791-bf3f-a4a94cbcb36c",
      "name": "Get All Bank Income",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "bankIncome",
        "operation": "create",
        "from": "={{ $('Get COA for Banking').item.json.data.result[0].id }}",
        "to": "={{ $('Get All Bank Accounts').item.json.data.result.first().id }}",
        "payer": "={{ $('Create Bank Contact').first().json.data.id }}",
        "date": "={{ new Date().toISOString().split('T')[0] }}",
        "amount": 1000,
        "currency": "={{ $('Get All Currencies for Banking').item.json.data.result[0].id }}",
        "tax_id": "={{ $('Get All Taxes for Banking').item.json.data.result[0].id }}",
        "transaction_number": "=TRX-INC-{{ Math.floor(Math.random() * 1000000) }}",
        "description": "Test Bank Income from n8n"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2720,
        2736
      ],
      "id": "bc4ccf9c-52c8-4519-8e68-38e5852a51f2",
      "name": "Create Bank Income",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "bankIncome",
        "operation": "get",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2944,
        2736
      ],
      "id": "6b4ad01d-23f4-41a6-8961-37a3f369fdec",
      "name": "Get Bank Income",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "bankIncome",
        "operation": "update",
        "id": "={{ $json.data.id }}",
        "from": "={{ $json.data.details.first().account.id }}",
        "to": "={{ $('Get All Bank Accounts').item.json.data.result[0].id }}",
        "payer": "={{ $json.data.payer.id }}",
        "date": "={{ $now.format('yyyy-MM-dd') }}",
        "amount": "={{ $json.data.amount.number + 500 }}",
        "currency": "={{ $json.data.currency.id }}",
        "tax_id": "={{ $('Get All Taxes for Banking').item.json.data.result[0].id }}",
        "description": "Updated Bank Income from n8n"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        3168,
        2736
      ],
      "id": "cf75caf5-8b83-4e68-8059-b9517d52201a",
      "name": "Update Bank Income",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "bankIncome",
        "operation": "delete",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        3392,
        2736
      ],
      "id": "0de43e88-b7b1-47a6-a171-b14026dea1e3",
      "name": "Delete Bank Income",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "bankExpense",
        "bankAccountId": "={{ $('Get All Bank Accounts').item.json.data.result.first().id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2496,
        2928
      ],
      "id": "f2876fc6-f33d-426e-904f-43ac16552f74",
      "name": "Get All Bank Expense",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "bankExpense",
        "operation": "create",
        "from": "={{ $('Get All Bank Accounts').item.json.data.result.first().id }}",
        "to": "={{ $('Get COA for Banking').first().json.data.result[0].id }}",
        "recipient": "={{ $('Create Bank Contact').first().json.data.id }}",
        "date": "={{ new Date().toISOString().split('T')[0] }}",
        "amount": 2000,
        "currency": "={{ $('Get All Currencies for Banking').item.json.data.result[0].id }}",
        "tax_id": "={{ $('Get All Taxes for Banking').item.json.data.result[0].id }}",
        "transaction_number": "=TRX-EXP-{{ Math.floor(Math.random() * 1000000) }}",
        "description": "Test Bank Expense from n8n"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2720,
        2928
      ],
      "id": "83fe0424-e4b7-41d9-8293-48cec5a3c17d",
      "name": "Create Bank Expense",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "bankExpense",
        "operation": "get",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2944,
        2928
      ],
      "id": "ea802d68-b39e-48d0-aaab-b034590e14b0",
      "name": "Get Bank Expense",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "bankExpense",
        "operation": "update",
        "id": "={{ $json.data.id }}",
        "from": "={{ $('Get All Bank Accounts').item.json.data.result.first().id }}",
        "to": "={{ $json.data.details[1].account.id }}",
        "recipient": "={{ $('Create Bank Contact').item.json.data.id }}",
        "date": "={{ $json.data.date.toDateTime().format('yyyy-MM-dd') }}",
        "amount": "={{ $json.data.amount.number + 500 }}",
        "currency": "={{ $('Get All Currencies for Banking').item.json.data.result[0].id }}",
        "tax_id": "={{ $('Get All Taxes for Banking').item.json.data.result[0].id }}",
        "transaction_number": "={{ $json.data.transaction_number }}",
        "description": "Updated Bank Expense from n8n"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        3168,
        2928
      ],
      "id": "cf3b42cc-76f1-45d3-93cc-74cd94282821",
      "name": "Update Bank Expense",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "bankExpense",
        "operation": "delete",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        3392,
        2928
      ],
      "id": "661c98a3-bfd6-4bed-838e-0916cd1e1fff",
      "name": "Delete Bank Expense",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "bankTransfer",
        "bankAccountId": "={{ $('Get All Bank Accounts').item.json.data.result.first().id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2496,
        3120
      ],
      "id": "74c4fb98-ad62-48d0-a177-aaf2d201904c",
      "name": "Get All Bank Transfer",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "bankTransfer",
        "operation": "create",
        "from": "={{ $('Get All Bank Accounts').item.json.data.result.first().id }}",
        "to": "={{ $('Get All Bank Accounts').item.json.data.result.first().id }}",
        "date": "={{ new Date().toISOString().split('T')[0] }}",
        "amount": 5000,
        "currency": "={{ $('Get All Currencies for Banking').item.json.data.result[0].id }}",
        "transaction_number": "=TRX-TRF-{{ Math.floor(Math.random() * 1000000) }}",
        "description": "Test Bank Transfer from n8n"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2720,
        3120
      ],
      "id": "ac66f272-6f19-4b30-b3b6-0a68bcaf6fbf",
      "name": "Create Bank Transfer",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "bankTransfer",
        "operation": "get",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        2944,
        3120
      ],
      "id": "e7222401-f160-4a87-b1ca-e8f9bf29bffd",
      "name": "Get Bank Transfer",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "bankTransfer",
        "operation": "update",
        "id": "={{ $json.data.id }}",
        "from": "={{ $('Get All Bank Accounts').item.json.data.result.first().id }}",
        "to": "={{ $('Get All Bank Accounts').item.json.data.result.first().id }}",
        "date": "={{ $json.data.date.toDateTime().format('yyyy-MM-dd') }}",
        "amount": "={{ $json.data.amount.number + 1000 }}",
        "currency": "={{ $('Get All Currencies for Banking').item.json.data.result[0].id }}",
        "description": "Updated Bank Transfer from n8n"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        3168,
        3120
      ],
      "id": "d32d749a-431c-4663-a27c-0ab9466a2abb",
      "name": "Update Bank Transfer",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "bankTransfer",
        "operation": "delete",
        "id": "={{ $json.data.id }}"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        3392,
        3120
      ],
      "id": "3e4a90a8-001e-4b8b-9a96-37c355bc968c",
      "name": "Delete Bank Transfer",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "companySetting"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1376,
        3024
      ],
      "id": "938c522e-75b8-49fb-b415-2ac847d177d6",
      "name": "Get Company Setting",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "systemSetting"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1376,
        3216
      ],
      "id": "9f691907-6bc5-4f55-9658-86c414c4756f",
      "name": "Get System Setting",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "salesSetting"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1376,
        3408
      ],
      "id": "4e8e16fb-8d04-4c7c-b509-81357922f48a",
      "name": "Get Sales Setting",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    },
    {
      "parameters": {
        "resource": "purchaseSetting"
      },
      "type": "CUSTOM.keloolaAccounting",
      "typeVersion": 1,
      "position": [
        1376,
        3600
      ],
      "id": "7de6367c-6b36-40fd-902c-2ba4364a9d40",
      "name": "Get Purchase Setting",
      "credentials": {
        "keloolaApi": {
          "id": "coOAMn7jzue8fRQX",
          "name": "Keloola Authentication account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Get current user": {
      "main": [
        [
          {
            "node": "Get user organizations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get user organizations": {
      "main": [
        [
          {
            "node": "Get All Bank Accounts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get All Units",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get COA Types",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create a contact",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get All Categories",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create a contact1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create a contact2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Vendor PD",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Customer SQ",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Customer SO",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Customer SD",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Customer SI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Company Setting",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get System Setting",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Sales Setting",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Purchase Setting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Units": {
      "main": [
        [
          {
            "node": "Create Unit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Unit": {
      "main": [
        [
          {
            "node": "Get Created Unit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Created Unit": {
      "main": [
        [
          {
            "node": "Update Unit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Unit": {
      "main": [
        [
          {
            "node": "Delete Unit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All COA": {
      "main": [
        [
          {
            "node": "Get Created COA",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Tax",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get All Currencies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get COA Types": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create COA": {
      "main": [
        [
          {
            "node": "Get All COA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Created COA": {
      "main": [
        [
          {
            "node": "Update COA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update COA": {
      "main": [
        [
          {
            "node": "Delete COA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Tax": {
      "main": [
        [
          {
            "node": "Get Created Tax",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Tax": {
      "main": [
        [
          {
            "node": "Get All Tax",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Created Tax": {
      "main": [
        [
          {
            "node": "Update Tax",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Tax": {
      "main": [
        [
          {
            "node": "Delete Tax",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Products": {
      "main": [
        [
          {
            "node": "Get Created Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Product": {
      "main": [
        [
          {
            "node": "Get All Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Created Product": {
      "main": [
        [
          {
            "node": "Update Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Product": {
      "main": [
        [
          {
            "node": "Delete Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Categories": {
      "main": [
        [
          {
            "node": "Create Test Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Category": {
      "main": [
        [
          {
            "node": "Get All Units For Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Units For Product": {
      "main": [
        [
          {
            "node": "Create Test Unit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Unit": {
      "main": [
        [
          {
            "node": "Get All COA For Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All COA For Product": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Journals": {
      "main": [
        [
          {
            "node": "Create Journal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Journal": {
      "main": [
        [
          {
            "node": "Get Created Journal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Created Journal": {
      "main": [
        [
          {
            "node": "Update Journal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Journal": {
      "main": [
        [
          {
            "node": "Delete Journal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Currencies": {
      "main": [
        [
          {
            "node": "Get All Journals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Create COA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual": {
      "main": [
        [
          {
            "node": "Get current user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Purchase Quote": {
      "main": [
        [
          {
            "node": "Get Created Purchase Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Created Purchase Quote": {
      "main": [
        [
          {
            "node": "Update Purchase Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Purchase Quote": {
      "main": [
        [
          {
            "node": "Print purchase quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Purchase Quote": {
      "main": [
        [
          {
            "node": "Delete a product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Products1": {
      "main": [
        [
          {
            "node": "Get All Categories1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a contact": {
      "main": [
        [
          {
            "node": "Get All Products1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Categories1": {
      "main": [
        [
          {
            "node": "Create Test Category1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Units For Product1": {
      "main": [
        [
          {
            "node": "Create Test Unit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Products2": {
      "main": [
        [
          {
            "node": "Create Purchase Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Product1": {
      "main": [
        [
          {
            "node": "Get All Products2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Category1": {
      "main": [
        [
          {
            "node": "Get All Units For Product1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Unit1": {
      "main": [
        [
          {
            "node": "Get All COA For Product1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All COA For Product1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Print purchase quote": {
      "main": [
        [
          {
            "node": "Delete Purchase Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a product": {
      "main": [
        [
          {
            "node": "Delete a unit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a unit": {
      "main": [
        [
          {
            "node": "Delete a category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a category": {
      "main": [
        [
          {
            "node": "Delete a contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Products3": {
      "main": [
        [
          {
            "node": "Get All Categories2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a contact1": {
      "main": [
        [
          {
            "node": "Get All Products3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Categories2": {
      "main": [
        [
          {
            "node": "Create Test Category2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Units For Product2": {
      "main": [
        [
          {
            "node": "Create Test Unit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Product2": {
      "main": [
        [
          {
            "node": "Get All Products4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Category2": {
      "main": [
        [
          {
            "node": "Get All Units For Product2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Unit2": {
      "main": [
        [
          {
            "node": "Get All COA For Product2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All COA For Product2": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Products4": {
      "main": [
        [
          {
            "node": "Create a purchase order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Print purchase order": {
      "main": [
        [
          {
            "node": "Delete a purchase order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a purchase order": {
      "main": [
        [
          {
            "node": "Get a purchase order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a purchase order": {
      "main": [
        [
          {
            "node": "Update a purchase order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a purchase order": {
      "main": [
        [
          {
            "node": "Print purchase order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a purchase order": {
      "main": [
        [
          {
            "node": "Delete a product1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Create Product1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Create Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Create Product2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a product1": {
      "main": [
        [
          {
            "node": "Delete a unit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a unit1": {
      "main": [
        [
          {
            "node": "Delete a category1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a category1": {
      "main": [
        [
          {
            "node": "Delete a contact1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a contact2": {
      "main": [
        [
          {
            "node": "Get All Products5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Products5": {
      "main": [
        [
          {
            "node": "Get All Categories3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Categories3": {
      "main": [
        [
          {
            "node": "Create Test Category3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Category3": {
      "main": [
        [
          {
            "node": "Get All Units For Product3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Units For Product3": {
      "main": [
        [
          {
            "node": "Create Test Unit3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Unit3": {
      "main": [
        [
          {
            "node": "Get All COA For Product3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All COA For Product3": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Create Product3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Product3": {
      "main": [
        [
          {
            "node": "Get All Products6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Products6": {
      "main": [
        [
          {
            "node": "Create Purchase Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Purchase Invoice": {
      "main": [
        [
          {
            "node": "Get Purchase Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Purchase Invoice": {
      "main": [
        [
          {
            "node": "Update Purchase Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Purchase Invoice": {
      "main": [
        [
          {
            "node": "Print Purchase Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Print Purchase Invoice": {
      "main": [
        [
          {
            "node": "Delete Purchase Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Purchase Invoice": {
      "main": [
        [
          {
            "node": "Delete a product2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a product2": {
      "main": [
        [
          {
            "node": "Delete a unit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a unit2": {
      "main": [
        [
          {
            "node": "Delete a category2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a category2": {
      "main": [
        [
          {
            "node": "Delete a contact2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Customer SQ": {
      "main": [
        [
          {
            "node": "Get All Products SQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Products SQ": {
      "main": [
        [
          {
            "node": "Get All Categories SQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Categories SQ": {
      "main": [
        [
          {
            "node": "Create Test Category SQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Category SQ": {
      "main": [
        [
          {
            "node": "Get All Units SQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Units SQ": {
      "main": [
        [
          {
            "node": "Create Test Unit SQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Unit SQ": {
      "main": [
        [
          {
            "node": "Get All COA SQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All COA SQ": {
      "main": [
        [
          {
            "node": "Edit Fields SQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields SQ": {
      "main": [
        [
          {
            "node": "Create Product SQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Product SQ": {
      "main": [
        [
          {
            "node": "Get All Products SQ2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Products SQ2": {
      "main": [
        [
          {
            "node": "Create Sales Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Sales Quote": {
      "main": [
        [
          {
            "node": "Get Sales Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Sales Quote": {
      "main": [
        [
          {
            "node": "Update Sales Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sales Quote": {
      "main": [
        [
          {
            "node": "Print Sales Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Print Sales Quote": {
      "main": [
        [
          {
            "node": "Delete Sales Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Sales Quote": {
      "main": [
        [
          {
            "node": "Delete Product SQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Product SQ": {
      "main": [
        [
          {
            "node": "Delete Unit SQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Unit SQ": {
      "main": [
        [
          {
            "node": "Delete Category SQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Category SQ": {
      "main": [
        [
          {
            "node": "Delete Customer SQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Customer SO": {
      "main": [
        [
          {
            "node": "Get All Products SO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Products SO": {
      "main": [
        [
          {
            "node": "Get All Categories SO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Categories SO": {
      "main": [
        [
          {
            "node": "Create Test Category SO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Category SO": {
      "main": [
        [
          {
            "node": "Get All Units SO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Units SO": {
      "main": [
        [
          {
            "node": "Create Test Unit SO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Unit SO": {
      "main": [
        [
          {
            "node": "Get All COA SO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All COA SO": {
      "main": [
        [
          {
            "node": "Edit Fields SO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields SO": {
      "main": [
        [
          {
            "node": "Create Product SO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Product SO": {
      "main": [
        [
          {
            "node": "Get All Products SO2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Products SO2": {
      "main": [
        [
          {
            "node": "Create Sales Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Sales Order": {
      "main": [
        [
          {
            "node": "Get Sales Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Sales Order": {
      "main": [
        [
          {
            "node": "Update Sales Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sales Order": {
      "main": [
        [
          {
            "node": "Print Sales Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Print Sales Order": {
      "main": [
        [
          {
            "node": "Delete Sales Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Sales Order": {
      "main": [
        [
          {
            "node": "Delete Product SO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Product SO": {
      "main": [
        [
          {
            "node": "Delete Unit SO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Unit SO": {
      "main": [
        [
          {
            "node": "Delete Category SO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Category SO": {
      "main": [
        [
          {
            "node": "Delete Customer SO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Customer SD": {
      "main": [
        [
          {
            "node": "Get All Products SD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Products SD": {
      "main": [
        [
          {
            "node": "Get All Categories SD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Categories SD": {
      "main": [
        [
          {
            "node": "Create Test Category SD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Category SD": {
      "main": [
        [
          {
            "node": "Get All Units SD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Units SD": {
      "main": [
        [
          {
            "node": "Create Test Unit SD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Unit SD": {
      "main": [
        [
          {
            "node": "Get All COA SD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All COA SD": {
      "main": [
        [
          {
            "node": "Edit Fields SD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields SD": {
      "main": [
        [
          {
            "node": "Create Product SD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Product SD": {
      "main": [
        [
          {
            "node": "Get All Products SD2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Products SD2": {
      "main": [
        [
          {
            "node": "Create SO for SD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Sales Delivery": {
      "main": [
        [
          {
            "node": "Get Sales Delivery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Sales Delivery": {
      "main": [
        [
          {
            "node": "Update Sales Delivery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sales Delivery": {
      "main": [
        [
          {
            "node": "Delete Sales Delivery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Sales Delivery": {
      "main": [
        [
          {
            "node": "Delete SO for SD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Product SD": {
      "main": [
        [
          {
            "node": "Delete Unit SD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Unit SD": {
      "main": [
        [
          {
            "node": "Delete Category SD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Category SD": {
      "main": [
        [
          {
            "node": "Delete Customer SD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Customer SI": {
      "main": [
        [
          {
            "node": "Get All Products SI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Products SI": {
      "main": [
        [
          {
            "node": "Get All Categories SI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Categories SI": {
      "main": [
        [
          {
            "node": "Create Test Category SI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Category SI": {
      "main": [
        [
          {
            "node": "Get All Units SI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Units SI": {
      "main": [
        [
          {
            "node": "Create Test Unit SI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Unit SI": {
      "main": [
        [
          {
            "node": "Get All COA SI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All COA SI": {
      "main": [
        [
          {
            "node": "Edit Fields SI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields SI": {
      "main": [
        [
          {
            "node": "Create Product SI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Product SI": {
      "main": [
        [
          {
            "node": "Get All Products SI2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Products SI2": {
      "main": [
        [
          {
            "node": "Create Sales Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Sales Invoice": {
      "main": [
        [
          {
            "node": "Get Sales Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Sales Invoice": {
      "main": [
        [
          {
            "node": "Update Sales Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sales Invoice": {
      "main": [
        [
          {
            "node": "Print Sales Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Print Sales Invoice": {
      "main": [
        [
          {
            "node": "Delete Sales Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Sales Invoice": {
      "main": [
        [
          {
            "node": "Delete Product SI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Product SI": {
      "main": [
        [
          {
            "node": "Delete Unit SI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Unit SI": {
      "main": [
        [
          {
            "node": "Delete Category SI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Category SI": {
      "main": [
        [
          {
            "node": "Delete Customer SI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create SO for SD": {
      "main": [
        [
          {
            "node": "Get SO for SD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get SO for SD": {
      "main": [
        [
          {
            "node": "Create Sales Delivery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete SO for SD": {
      "main": [
        [
          {
            "node": "Delete Product SD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Vendor PD": {
      "main": [
        [
          {
            "node": "Get All Categories PD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Categories PD": {
      "main": [
        [
          {
            "node": "Create Test Category PD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Category PD": {
      "main": [
        [
          {
            "node": "Get All Units PD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Units PD": {
      "main": [
        [
          {
            "node": "Create Test Unit PD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Unit PD": {
      "main": [
        [
          {
            "node": "Get All COA PD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All COA PD": {
      "main": [
        [
          {
            "node": "Edit Fields PD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields PD": {
      "main": [
        [
          {
            "node": "Create Product PD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Product PD": {
      "main": [
        [
          {
            "node": "Get All Products PD2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Products PD2": {
      "main": [
        [
          {
            "node": "Create PO for PD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create PO for PD": {
      "main": [
        [
          {
            "node": "Get PO for PD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get PO for PD": {
      "main": [
        [
          {
            "node": "Create Purchase Delivery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Purchase Delivery": {
      "main": [
        [
          {
            "node": "Get Purchase Delivery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Purchase Delivery": {
      "main": [
        [
          {
            "node": "Create GRN from PD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create GRN from PD": {
      "main": [
        [
          {
            "node": "Get Created GRN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Bank Accounts": {
      "main": [
        [
          {
            "node": "Create Bank Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Bank Contact": {
      "main": [
        [
          {
            "node": "Get All Currencies for Banking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Currencies for Banking": {
      "main": [
        [
          {
            "node": "Get All Taxes for Banking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Taxes for Banking": {
      "main": [
        [
          {
            "node": "Get COA for Banking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get COA for Banking": {
      "main": [
        [
          {
            "node": "Get All Bank Income",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get All Bank Expense",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get All Bank Transfer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Bank Income": {
      "main": [
        [
          {
            "node": "Create Bank Income",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Bank Income": {
      "main": [
        [
          {
            "node": "Get Bank Income",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Bank Income": {
      "main": [
        [
          {
            "node": "Update Bank Income",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Bank Income": {
      "main": [
        [
          {
            "node": "Delete Bank Income",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Bank Expense": {
      "main": [
        [
          {
            "node": "Create Bank Expense",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Bank Expense": {
      "main": [
        [
          {
            "node": "Get Bank Expense",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Bank Expense": {
      "main": [
        [
          {
            "node": "Update Bank Expense",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Bank Expense": {
      "main": [
        [
          {
            "node": "Delete Bank Expense",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Bank Transfer": {
      "main": [
        [
          {
            "node": "Create Bank Transfer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Bank Transfer": {
      "main": [
        [
          {
            "node": "Get Bank Transfer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Bank Transfer": {
      "main": [
        [
          {
            "node": "Update Bank Transfer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Bank Transfer": {
      "main": [
        [
          {
            "node": "Delete Bank Transfer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Jakarta",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "43dc6a32-8c6b-41b3-b400-7d90b7166a34",
  "meta": {
    "instanceId": "d0734ef49c6e31d3fe8e4f08b2f749b9a5f9bebb2abedda92821e4975833618c"
  },
  "id": "TbAZXjD_7jppym2hteRWc",
  "tags": []
}